[2015-07-09 18:04] whitef0x0 opened #1 "Autosave is called more than once for single change"
The autosave directive in (/public/modules/forms/directives/autosave.client.directive.js) ends up doing double or more saves for a single change detected.

I think this may be because of debouncing wrt $watch function or also due to the fact that the form itself changes after it saves (triggerring yet another save). Debouncing/checking should be done on client side to maintain code cleanliness.

P

[2015-07-09 18:14] whitef0x0 opened #2 "Adding/Removing/Changing Form Inputs overwrites Form Data"
Since we are using mongodb (is this is a good idea for a table?), when form inputs are added/removed/changed, submissions table is not updated correctly and not drawn correctly.

Right now we do NOT have a ordered list of all current and past inputs for a form. To implement this correctly form we should follow the following rules:

If form input is REMOVED we should
       1. Preserve old inputs i

[2015-07-09 18:18] whitef0x0 opened #3 "Generate and POST XML Data from Models"
For oscar-host integration we need to generate and POST XML spec data from our submissions models (ideally from a method). To do this we will need an API spec from oscar-host (still waiting on this).

See https://thomashunter.name/blog/node-js-convert-json-to-xml-and-pluralize/ and this https://stackoverflow.com/questions/14018269/how-to-post-xml-data-in-node-js-http-request for details on how to

[2015-07-09 18:22] whitef0x0 opened #4 "Add html Form to PDF mapping functionality (optional)"
Right now, the only way to generate PDFs from Forms is through generating Forms form a PDF.

However in the future it would be nicer to be able to map PDF inputs to Form inputs on the fly. This has been started in the *configure-form directive* and there is the pdfFieldMap, however there is no code that fully implements this.

IMPORTANT
=========
This should be optional as the focus has shifted aw

[2015-07-09 18:24] whitef0x0 opened #5 "Get Dockerfile to build and run on Mac OSX (IMPORTANT)"
Due to this issue [here](https://github.com/boot2docker/boot2docker/issues/581), we are getting this error when trying to build our docker container

`
a302550e01e2: Error pulling image (0.10) from node, endpoint: https://registry-1.docker.io/v1/,a302550e01e2: Error pulling image (0.10) from node, Mktemp failed: mkdir /mnt/sda1/var/lib/docker/graph/_tmp/54ecc9594edf6f7df960b80f4d6b4715ed3e64033847

[2015-07-09 21:25] whitef0x0 opened #6 "Views don't update after signin"
After signing in, the view doesn't update unless the user manually hard refreshes.

Due to ui-routing logic.

[2015-07-09 21:28] whitef0x0 commented on #6
Seems to only occur when the app is started for the very first time.

[2015-07-14 21:06] #5 closed

[2015-07-14 21:07] whitef0x0 commented on #6
This has been fixed

[2015-07-14 21:07] #6 closed

[2015-07-15 01:30] whitef0x0 opened #7 "Fix Signup on Production Server"
We should try to fix signups on development server.

Currently nothing happens when user tries to signup(will add error when I get the chance)

[2015-07-15 01:32] whitef0x0 opened #8 "Fix submission creation and display"
Submissions are currently not being displayed correctly after a field is modified, created or deleted.

Need to come up with a solid schema for forms and form submissions that supports an editable table (see mongoose-datatable for inspiration)

[2015-07-15 01:34] whitef0x0 opened #9 "Implement password reset and verification"
Need to implement password reset and verification for user sign up (maybe we can use mandrill for transactional emails?)

[2015-07-15 01:34] whitef0x0 opened #10 "Write tests for Nodejs/Expressjs code"
Need to write mocha/phantomjs tests for models, routes and controllers

[2015-07-15 01:35] whitef0x0 opened #11 "Write tests for AngularJS frontend"
Need to write unit tests for frontend angularjs code

[2015-07-21 23:27] whitef0x0 commented on #8
This has been fixed.

[2015-07-21 23:27] #8 closed

[2015-07-21 23:28] whitef0x0 commented on #7
This has been fixed. Waiting to QA dev so we can push to prod

[2015-07-21 23:28] #7 closed

[2015-07-21 23:28] #2 closed

[2015-07-21 23:29] whitef0x0 commented on #2
This has been fixed. See the pre('save') hook in forms.models.server.js to see implementation

[2015-07-21 23:29] whitef0x0 commented on #1
This has been fixed with a counter.

[2015-07-21 23:29] #1 closed

[2015-07-21 23:29] whitef0x0 commented on #3
Still waiting on OSCAR-HOST for correct spec

[2015-07-21 23:30] whitef0x0 commented on #9
Password reset seems to be working (although I need to write a full E2E test suite to make 100% sure). Verification is halfway implemented (see user/authentication.controller.server.js)

[2015-07-21 23:31] whitef0x0 commented on #9
Also for email, we are using nodeSMTPmailer

[2015-07-21 23:32] whitef0x0 opened #12 "Implement all displayed form input types"
Need to still write HTML templates and front-end code for legal, payment, and 8+ other form input types

[2015-07-21 23:33] whitef0x0 commented on #10
Started this for forms model. Need to finish this and make sure tests are running properly.

[2015-07-21 23:35] whitef0x0 opened #13 "Make an 'OMNI' style input instead of traditional inputs"
This could use NLP to guess what kind of input the user wants to create.

[2015-07-21 23:37] whitef0x0 opened #14 "FEATURE FREEZE TILL FRIDAY"
Until next Friday we will only be fixing bugs and adding testing. NO NEW FEATURES WILL BE IMPLEMENTED UNTIL AFTER FRIDAY

[2015-07-27 23:10] whitef0x0 commented on #9
This has been done (at least in terms of an MVP for this feature)

[2015-07-27 23:10] #9 closed

[2015-07-27 23:10] whitef0x0 commented on #14
This will be extended as we still have bugs to sort out this week

[2015-07-27 23:11] whitef0x0 opened #15 "Auto-saving is not working reliably"
We need to implement a more reliable auto-save directive on the front-end side.

[2015-07-27 23:12] whitef0x0 opened #16 "Fix Username bug when redirecting from signin"
This has been fixed. See the header controller in modules/core for moredetails

[2015-07-27 23:12] #16 closed

[2015-07-30 00:26] whitef0x0 opened #17 "Add Storage/AWS to App"
Currently user signup does not work as we can't create new folders in heroku instance. Need to replace local storage with something like AWS S3

[2015-07-30 00:37] whitef0x0 opened #18 "Get properly issued SSL certificate and start running HTTPS server"
I need to get a non-self-issued SSL certificate for forms.polydaic.com so I can run an HTTPS server.

[2015-07-30 00:38] whitef0x0 commented on #15
This has been fixed

[2015-07-30 00:38] #15 closed

[2015-07-30 00:38] #14 closed

[2015-07-30 00:38] #12 closed

[2015-07-30 00:38] whitef0x0 commented on #12
This has been completed. We could optionally add a Stripe Payment field although I'm not sure if this would be used in our current application

[2015-07-30 00:39] whitef0x0 opened #19 "Implement Encryption for Form Submissions"
We should implement encryption of all form fields so we can be HIPPAA compliant.

[2015-07-30 00:45] whitef0x0 opened #20 "Implement shortids for users and forms"
We should implement shortids (see this https://www.npmjs.com/package/shortid) for mongodb _ids to make our urls shorter and easier to read.

[2015-08-08 00:14] whitef0x0 opened #21 "Passwords in tmp user collection not being hashed."
The temporaryCollection created by node-email-verification is storing plaintext passwords and NOT the hashes.

This NEEDS to be fixed IMMEDIATELY.

[2015-08-08 00:15] whitef0x0 commented on #3
By tuesday we will have OSCAR-HOST spec.

See attached *.xml file in the docs folder for an example SOAP request

[2015-08-08 00:16] whitef0x0 commented on #10
Still continuing on this. I've written tests that cover all of the forms.routes and most of the users.routes.

Need to start writing E2E tests, although that is beyond the scope of this issue.

[2015-08-11 16:35] whitef0x0 opened #22 "Start pentesting and doing security audits"
Need to start using metasploit et al to start testing code and find security bugs

[2015-08-11 16:36] whitef0x0 commented on #13
Not sure that this will be a good ux pattern.

Closing it for now and will revisit if nessecary

[2015-08-11 16:36] #13 closed

[2015-08-11 16:36] whitef0x0 commented on #17
Not sure if this is critical. Put this on the backlog.

[2015-08-12 17:55] whitef0x0 commented on #21
This has been fixed

[2015-08-12 17:55] #21 closed

[2015-08-12 17:56] whitef0x0 commented on #18
To get this to work on Heroku we have to purchase and setup a SSL endpoint. Will talk to Jeremy about this.

[2015-08-12 17:59] whitef0x0 opened #23 "Fix List Forms display error on production"
List Forms view isn't displaying correctly on frontend. Maybe look at the modules/forms angularjs code?

[2015-08-12 17:59] whitef0x0 commented on #23
Never mind. It works now.

[2015-08-12 17:59] #23 closed

[2015-08-12 18:32] whitef0x0 opened #24 "Add Logic Jump/Multiple Form Pages"
Need to add logic jump functionality for form inputs and/or add ability to have multiple pages per form.

[2015-08-18 00:46] whitef0x0 opened #25 "Add customizable startPage to forms"
User should be able to edit introTitle, introParagraph and add/remove any additional buttons from startpage.

User should also be able to disable and enable startPage for a form.

[2015-08-21 00:58] #25 closed

[2015-08-21 00:59] whitef0x0 commented on #25
This has been implemented in the dev branch

[2015-08-21 01:00] whitef0x0 commented on #11
We are approx 30-40% code coverage on the frontend.

Need to also write E2E tests with protractor.js

[2015-08-21 01:01] whitef0x0 commented on #10
We are around 70% done this on the backend. Just need to test password reset and get account verification test to be stable.

[2015-08-21 18:30] whitef0x0 opened #26 "Refactor Field Inputs and Rendering"
Need to refactor code so that valid field input types and field input rendering are controlled from hardcoded options on backend, and not on frontend.

I.e. Need to decouple frontend field rendering logic and remove hardcoded defaults in front end code.

See `formfields.client.service.js`, `modules/forms/views/directiveViews/*.html` and `edit-form.client.directive.js` for more context.

See [DOBT'

[2015-08-27 17:23] whitef0x0 commented on #11
Unit tests are almost done with around 80-90% coverage

[2015-08-27 17:23] #11 closed

[2015-09-12 20:32] whitef0x0 opened #27 "Logout/Login isn't working"
##For Logout
On http://kioskform-dev.herokuapp.com and on local version, clicking the logout button does not do anything.

##For Login
On http://kioskform-dev.herokuapp.com, logging in works, but when redirection to /forms is not working and server is responding with a HTTP 401 code.

[2015-11-05 23:22] whitef0x0 opened #28 "Get user verification view to work"
Currently, even when the verification link is valid and not-expired, it shows the user the 'invalid or expired' token view.

[2015-11-05 23:23] whitef0x0 commented on #28
Should look into verify Controller (verify.controller.client.js)

[2015-11-06 22:57] whitef0x0 commented on #28
Fixed

[2015-11-06 22:57] #28 closed

[2015-11-06 22:58] whitef0x0 opened #29 "Fix form field dragging bug"
Currently when dragging form fields, the field jumps about 100px above where it should be.

[2015-11-12 17:59] #27 closed

[2015-11-12 18:00] whitef0x0 opened #30 "Make Forms Responsive"
Forms currently don't work very well on mobile devices (specifically iOS Safari).

1. Form fields are too small.
2. Too much spacing between fields

[2015-11-12 18:00] whitef0x0 opened #31 "Fix Forgot Password"
Forgot password link does not lead anywhere. Should fix this and test that forgot password feature works.

[2015-11-12 18:01] whitef0x0 opened #32 "Fix PDF generator"
Currently the PDF generator does not work. Also need to hook up PDF saving to Amazon S3 so that it will work on deployed version.

[2015-11-12 18:07] whitef0x0 opened #33 "Validate Signup Form inputs"
Need to make sure that First Names only contain letters and no malicious code.

[2015-11-12 18:22] whitef0x0 opened #34 "Form submissions overwriting one another"
Not sure if this is a display bug or not but after submitting a form entry, all form entries displayed are overwritten by last submitted form entry.

[2015-11-12 20:00] whitef0x0 opened #35 "Duplicate Field Button not working"
Currently the duplicate field button doesnt work in the 'create' tab of the admin form view.

[2015-11-12 20:18] #10 closed

[2015-11-12 23:49] whitef0x0 commented on #34
This has been fixed. Reason for it was due to using _.merge when fetching submissions from server (in edit-submissions.directive.client.js).

[2015-11-12 23:49] #34 closed

[2015-11-12 23:49] whitef0x0 commented on #33
This is done. First name and last name can only contain '.', '-' or latin characters.

[2015-11-12 23:49] #33 closed

[2015-11-12 23:50] whitef0x0 commented on #31
This is fixed. Forgot password works (although UX/UI could be better)

[2015-11-12 23:50] #31 closed

[2015-11-13 17:13] whitef0x0 commented on #35
Fixed this. Issue ended up being I had to add a  'track by $index' for every ng-repeat on the admin/create page.

[2015-11-13 17:13] #35 closed

[2015-11-13 17:14] whitef0x0 opened #36 "Autosaving Glitching when editing StartPage Description"
Form is continuously autosaving while typing text into description input. This is a bug with how we check whether a form input is currently selected (aka ng-dirty and ng-touched) or not.

[2015-11-13 17:21] whitef0x0 opened #37 "Missing "Time Created" column in submissions table"
Need to add this back so that the columns match up correctly to their respective data.

[2015-11-13 17:22] whitef0x0 opened #38 "Add customizable background images to forms"
Users should be able to upload and use an image as their background for their custom form.

[2015-11-13 17:27] whitef0x0 commented on #30
This has been fixed (for now). In the future should look at adding the form footer with nextField/prevField controls back for mobile.

[2015-11-13 17:27] #30 closed

[2015-11-23 18:29] whitef0x0 opened #39 "Multiple submissions displayed for one submission"
Not sure if this is a bug in my backend code or due to UI/UX glitch but for every submission we are getting 2-5 duplicates within <10 seconds of each other

[2015-11-23 18:31] whitef0x0 opened #40 "Required fields sometimes skipped/empty"
In some of the submissions, we sometimes have fields that are empty even though they are required.

Should look into form submission validation to fix this

[2015-12-17 21:59] countable opened #41 "Check for existing Demographic (based on Care Card #)"

[2015-12-17 22:02] countable opened #42 "provision a canadian host"

[2015-12-17 22:04] countable opened #43 "security options for KMC deployment (server hardening)"
- disable signups.
- disable ports firewall.
- configure node to only listen to localhost.

[2015-12-17 22:13] countable opened #44 "refactor application.js into a dozen files."

[2015-12-17 22:43] countable opened #45 "protractor test for form submission"

[2016-01-08 19:28] qimingfang opened #46 "Checkboxes for multiple answers check at the same time"
I created a checkbox question type, and inputted 2 answers. When I went to preview it, I found that upon checking one, the other one is checked by default as well.

Example (question 2):
http://dev.tellform.com/#!/forms/56900820ee0780200017525d

[2016-01-28 17:26] ahyear opened #47 "Could not connect to MongoDB!"
no matter what I do, ( i followed the install process ) when i want to "grunt default" i get

Could not connect to MongoDB!
Error: failed to connect to [localhost:27017]

I tried replacing localhost with 127.0.0.1 but i get the same error...

here is what it says:

` Running "jshint:all" (jshint) task

   public/modules/forms/directives/auto-save.client.directive.js
     10 |        });

[2016-01-29 06:45] whitef0x0 commented on #47
I'll look into this

[2016-01-29 14:32] ahyear commented on #47
thank you, let me know if you need any specific info.

[2016-02-10 15:42] neil-s opened #48 "Application error"
Hi @whitef0x0 , it seems the website tellform.com is down. I get an Application Error when I try to access it.

[2016-04-03 18:00] mkoegel commented on #17
Is there a workaround to get tellform working on Heroku?
If not maybe remove the deploy to Heroku button as it's not very useful right now.

[2016-04-12 06:01] whitef0x0 commented on #18
This has be

[2016-04-12 06:01] whitef0x0 commented on #18
This has been fixed. See http://stage.tellform.com for an example

[2016-04-12 06:01] #18 closed

[2016-04-12 06:04] whitef0x0 commented on #48
I've fixed this. Ended up being a heroku configuration problem

[2016-04-12 06:04] #48 closed

[2016-04-12 06:05] whitef0x0 commented on #47
This is mostly likely because either you have not installed or started your local mongodb instance.

[2016-04-12 06:06] whitef0x0 opened #49 "Move from Mandrill to Sparkpost"
With mandrill becoming deprecated we should move to sparkpost or some other equivalent Email API SaaS

[2016-04-12 09:31] neil-s opened #50 "No demo"
I can't find a sample form anywhere on the site that would help inform the decision of downloading and running it. The signup form is a plain, old Bootstrap form - wasted opportunity to show how good a UX Tellform is, right?

[2016-04-12 21:56] whitef0x0 commented on #50
I'll try to get a demo after my finals.

[2016-04-12 21:57] #47 closed

[2016-04-13 17:50] whitef0x0 commented on #17
The dev branch deploys on heroku. I am in the middle of exams but will fix the master branch soon

[2016-04-20 07:05] whitef0x0 commented on #46
This has been fixed

[2016-04-20 07:05] #46 closed

[2016-04-20 07:05] whitef0x0 commented on #39
I'm pretty sure this isn't happening anymore

[2016-04-20 07:05] #39 closed

[2016-04-20 07:07] whitef0x0 commented on #20
Doing this for forms may open it up to abuse/brute force spamming attacks

[2016-04-20 07:09] whitef0x0 opened #51 "Fix Travia-CI"
Need to get travis build to pass again. Also look into fixing errors in travis.yml file

[2016-04-20 07:17] whitef0x0 opened #52 "Move from bower to npm"
See here for reasoning https://github.com/reactjs/redux/issues/944#issuecomment-154858804

[2016-04-20 07:19] whitef0x0 opened #53 "[Possible Refractor] Move from MongoDB To SQL"
Mongoose/MongoDB is almost dead and is slowing down speeds tremendously. May be good point to switch to postgresql/SQL

[2016-04-21 18:34] lalop opened #54 "Extract form ui"
Hello,
What do you think of extracting the form ui from the project and adding it as a dependency ?

[2016-04-21 19:04] whitef0x0 commented on #51
This has been fixed

[2016-04-21 19:04] #51 closed

[2016-04-21 19:11] whitef0x0 commented on #54
By form ui, are you referring to the submit-form and field directives that renders the forms?

[2016-04-21 19:44] #44 closed

[2016-04-21 19:44] #26 closed

[2016-04-21 19:54] whitef0x0 opened #55 "Migrate from Mongoose 3.8.8 to 4.x"
Need to fix code so we can migrate to newest mongoose version.

[2016-04-21 20:50] whitef0x0 commented on #36
This has been fixed.

[2016-04-21 20:50] #36 closed

[2016-04-21 21:39] lalop commented on #54
Yes that what I mean

[2016-04-22 01:29] whitef0x0 commented on #54
Right now, my focus is on fixing the last few bugs in the UI to get it ready for use in beta. I do support modularization but I would rather spend the time migrating from mongoose/mongodb first and then look at modularization later.

[2016-04-22 01:33] whitef0x0 commented on #50
I added a demo to the README and will add more in the coming weeks.

[2016-04-22 01:33] #50 closed

[2016-04-22 01:34] whitef0x0 commented on #42
This has already been done as we are using Digital Ocean Toronto for stage.tellform.com

[2016-04-22 01:34] #42 closed

[2016-04-22 01:34] whitef0x0 commented on #37
This has been implemented.

[2016-04-22 01:34] #37 closed

[2016-04-22 01:35] whitef0x0 commented on #49
Need to do this before April 26th!

[2016-04-22 18:10] whitef0x0 opened #56 "Add Form Validation"
Need to add custom form validation.

[2016-04-22 22:38] whitef0x0 opened #57 "Improve UX of Form Inputs"
See here http://mono.company/journal/design-practice/the-10-commandments-of-good-form-design-on-the-web/ and https://youtu.be/K6jiCkZwLgg here for inspiration.

[2016-04-22 22:54] whitef0x0 commented on #49
This has been done.

[2016-04-22 22:54] #49 closed

[2016-04-22 22:55] whitef0x0 commented on #56
This is tied to issue #40

[2016-04-23 15:19] lalop commented on #54
HI @whitef0x0 ,
I've a working prototype but I can't keep it sync with yout repository.
I can make some refactor on the form module to have it usable alone but I need to know if your are okey with the way I will do it and of course if this interest you or not at all.

I've point two main issue :
* form edition and form submission are in the same module
* tellform api that is hard coded in the modu

[2016-04-23 15:41] whitef0x0 commented on #54
For the second point you could add a configuration file to add api hardpoints? Or you could just develop it without http requests.

[2016-04-23 15:42] whitef0x0 commented on #54
If we can make this into a module I think it would be quite useful for many ad I've had others request in the past for just the front end

[2016-04-23 15:43] whitef0x0 commented on #54
Maybe I should make a github org and we can make a new repo?

[2016-04-23 15:47] lalop commented on #54
I don't use to use angular so I am not sure of the good way to extract the http part.
As I see it at the end submit-form should provide an api to display a form whenever the form data is loaded, to submit it more some sweets helpers to display only one filed ( for admin ), events...
To start I only need to load fields and save form, so I think we can say that when the form directive is called the

[2016-04-23 15:57] whitef0x0 commented on #54
Regarding form api endpoints I think this would be a good convention to follow https://formkeep.com

[2016-04-23 16:01] lalop commented on #54
I don't know this service but I can't find any documentation on their website, do you have some ?

[2016-04-23 16:22] whitef0x0 commented on #54
Oh I didn't see that. I suggest for now you should only have one endpoint and use GET to fetch a json object with the form data and POST to submit the form. In tellform right now that's how I'm doing it. I just submit the same json file with completed form fields.

Seems the easiest way to do things. If you are curious at the format look at /app/models/form.server.models.js for the current schema.

[2016-04-23 16:47] lalop commented on #54
merci :)

[2016-04-25 11:08] lalop opened #60 "error with docker-compose"
I can't make the project properly work locally with the given docker-compose.
Actually there is no mongo environnement variable injected into the web container but I can't see why.

[2016-04-25 15:42] whitef0x0 commented on #60
I haven't touched docker in a while as I'm not currently using it for my production or staging apps.

[2016-04-25 15:46] whitef0x0 opened #62 "Pivot to More Conversation UI"
See this http://alistapart.com/article/all-talk-and-no-buttons-the-conversational-ui and this https://blog.intercom.io/designing-conversational-interfaces/ for context.

Maybe we could provide a sms/text or FB bot that would allow one to fill out forms on a messaging client?

[2016-04-25 19:05] #60 closed

[2016-04-27 20:42] lalop opened #64 "error ui-router on master"
I have this error on master branch `Could not resolve 'home' from state 'listForms'`

[2016-04-27 21:18] whitef0x0 commented on #64
I've been making to fix this. This is because I deleted the home state

[2016-04-27 21:18] whitef0x0 commented on #64
*meaning

[2016-04-27 21:20] lalop commented on #64
I'm not sure to understand, is that fixed or just you are aware of this issue ?

[2016-04-28 01:42] whitef0x0 commented on #64
It should be fixed in my most recent commit.

[2016-04-28 23:26] #64 closed

[2016-04-29 05:00] whitef0x0 commented on #55
This has been done.

[2016-04-29 05:00] #55 closed

[2016-04-29 05:00] whitef0x0 commented on #56
This has been finished.

[2016-04-29 05:00] #56 closed

[2016-04-29 05:01] whitef0x0 commented on #32
This has been done.

[2016-04-29 05:01] #32 closed

[2016-04-29 05:01] whitef0x0 commented on #40
This has been finished.

[2016-04-29 05:01] #40 closed

[2016-04-29 05:02] whitef0x0 commented on #43
Node is only listening to localhost. Will add a ENV variable to disable signups.

[2016-04-29 05:23] whitef0x0 commented on #29
This has gone

[2016-04-29 05:23] #29 closed

[2016-04-29 05:24] whitef0x0 opened #66 "Add validation message for submit"
Validation message should popup when user tries to submit an invalid form.

[2016-04-29 06:40] whitef0x0 opened #67 "Add captcha for user sigin"
We should add a captcha to prevent bots from abusing the service. Also should add hidden input fields for form submissions to prevent bots from submitting forms.

[2016-04-29 07:01] whitef0x0 commented on #43
This has been done.

[2016-04-29 07:01] #43 closed

[2016-04-29 08:00] whitef0x0 commented on #67
Should use this https://www.google.com/recaptcha/admin#site/320775593?setup

[2016-04-29 08:00] whitef0x0 commented on #66
Thinking it should either be a modal, or a push up or push down notification bar.

[2016-04-29 08:15] whitef0x0 opened #69 "Create documentation with jsDoc"
We should created automated docs with jsdoc and host them somewhere.

[2016-04-30 09:00] joekh opened #70 "502 Bad Gateway"
I am not able to verify my email address on tellform.com

[2016-04-30 10:57] jamesryanbell commented on #70
Hi

I also had this problem, the url in the email points to stage.tellform.com.

As a work around until this is fixed just change **stage.tellform.com** to **admin.tellform.com** and you should be fine.

Thanks,
James

[2016-04-30 11:00] jamesryanbell commented on #70
Update:

Whilst this will say your account is activated, I am still struggling to sign in.

Thanks,
James

[2016-04-30 11:44] joekh commented on #70
Actually I was able to sign in after verifying my email (I used admin instead of stage)

But now i am struggling in creating a form, there's something wrong with the page, keeps refreshing i guess or something

[2016-04-30 11:54] joekh commented on #70
![screen shot 2016-04-30 at 2 53 55 pm](https://cloud.githubusercontent.com/assets/844966/14935700/6c2f3fdc-0ee3-11e6-8381-95dff5fb137a.png)

[2016-04-30 16:40] joekh commented on #70
I also managed to run the website on my own server, and still getting the same error above @jamesryanbell @whitef0x0

[2016-05-01 10:28] lalop commented on #24
Do you have any plan to merge this soon ?

[2016-05-03 09:59] joekh commented on #70
Hey guys @jamesryanbell @whitef0x0 any updates from your side?

[2016-05-04 19:59] mkoegel opened #72 "Cannot create form"
Managed to get Tellform to run on my Mac after changing Mongoose from ^3.8.40 to ~3.8.40.
Otherwise I get mongoose 3.9.7 and tellform crashes on start.

Now I can sign-up, verify and login, but then the server loops between forms and favicon and I can't click the new form button.

Console output:

[code]

How can I resolve this?

[2016-05-05 06:55] lalop commented on #72
I made a pr for the first point https://github.com/whitef0x0/tellform/pull/71 but facing the same issue.
If you can fix it a pr is welcome otherwise you could try with an older commit maybe.
David created a gitter channel for this project if you're interested is here https://gitter.im/whitef0x0/tellform

[2016-05-05 08:54] lalop commented on #72
The issue seems to come from the session module. The user isn't authenticated from the cookie.
Changing the session policy here https://github.com/whitef0x0/tellform/blob/master/config/express.js#L119 to  `app.use(session({secret: 'test'}));` made the app work again.

[2016-05-05 09:15] joekh commented on #72
Hello @lalop I tried to replace the L119 with app.use(session({secret: 'test'})); but i am still having the same issue GET /forms 401 please advise

[2016-05-05 09:20] lalop commented on #72
this work for me once I checkout to `22b4d695705c5cf056abfaf345498ff8f28f6b30`

[2016-05-05 09:21] joekh commented on #72
@lalop  does this commit 22b4d695705c5cf056abfaf345498ff8f28f6b30 contains the upload file field?

[2016-05-05 09:22] lalop commented on #72
I don't think no

[2016-05-05 09:34] joekh commented on #72
@lalop the thing I really need a working version with the upload file field enabled, If you can help me I would appreciate it. Merci en avance

[2016-05-05 13:37] lalop commented on #72
Not sure that I will be really helpfull but you can come on the gitter channel to speak of your issue and try to fix the project

[2016-05-06 20:40] whitef0x0 commented on #24
I have not really worked on this for a while and it is not near ready anytime soon

[2016-05-06 21:58] lalop commented on #24
Do you have any idea of how to manage that ?
I will have to make a system like that, I'm interested into do it for tellform. You can find me on gitter if you want.

[2016-05-10 07:24] whitef0x0 commented on #72
@joekh upload file field is currently not implemented

[2016-05-10 07:27] whitef0x0 commented on #24
@lalop I'm currently working on it on the logic_jump branch, which I'll push soon once I have a working version. I'm trying to use a graph database to store the Boolean Expressions in and then evaluating them on the fly

[2016-05-10 07:27] whitef0x0 opened #73 "Create setup script"

[2016-05-10 07:30] lalop commented on #24
I implemented a kind of field logic here https://github.com/lalop/tellform/commit/34279baa92e2df045b05b1ebfb8f25f93f83ac4f
I wouldn't say it's the smartest solution but it's pretty flexible

[2016-05-10 07:45] whitef0x0 commented on #70
This has been fixed @joekh

[2016-05-10 07:45] #70 closed

[2016-05-10 07:47] #73 closed

[2016-05-10 07:47] whitef0x0 opened #74 "Add disable signups option to .env"

[2016-05-10 07:47] #74 closed

[2016-05-10 07:50] whitef0x0 commented on #24
The hard part is implementing it on the backend, not the frontend.

[2016-05-10 07:53] whitef0x0 opened #75 "Create upload file field."
Implement upload file field with Amazon AWS or local file system support.

[2016-05-10 07:53] whitef0x0 commented on #75
@joekh

[2016-05-10 07:54] whitef0x0 commented on #72
I'm closing this issue as it seems like the original issue has been fixed by #71.

@joekh you can check on the progress of the upload file field at #75

[2016-05-10 07:55] whitef0x0 commented on #17
This is related to #75

[2016-05-10 07:58] whitef0x0 opened #76 "Get coveralls.io to work"

[2016-05-10 08:16] whitef0x0 commented on #54
Have you figured out how to create a webhook @lalop ?

[2016-05-10 09:11] whitef0x0 opened #77 "Create OAuth API"

[2016-05-11 02:41] whitef0x0 opened #78 "Fix Export to CSV/JSON/Excel"
Currently exporting form results results in empty files.

[2016-05-11 03:18] whitef0x0 opened #79 "Fix scrolling to submit button bug"
Currently on tablets you cannot scroll past the last question rendering it impossible to submit a form

[2016-05-11 14:06] lalop commented on #54
see this https://github.com/whitef0x0/tellform/pull/59#issuecomment-215970911
but I didn't test it yet

[2016-05-12 05:31] whitef0x0 opened #80 "Fix Mobile Views"
Currently the form on mobile phones is broken. Need to make it more responsive.

[2016-05-12 10:17] manuelramon commented on #24
Hi there guys, @whitef0x0 @lalop I would like to say that your project David is amazing, I'm just trying to install on my server and seems quite difficult for me, where can I get an easy guide to install on my environment? Once installed, I would like to test the LOGIC JUMPS if you want to have a beta tester, drop me a line, I'm at your entire  disposal guys.

[2016-05-12 16:31] whitef0x0 commented on #24
@manuelramon logic jump is currently not implemented.

You can run ''' node scripts/setup.js''' for setup

[2016-05-12 19:14] whitef0x0 opened #81 "Fix instability issues"
For some reason live instance keeps going down after ~12h of uptime. Need to figure out what is the issue here.

[2016-05-13 00:11] whitef0x0 opened #82 "Form usability improvements"

[2016-05-13 00:11] whitef0x0 commented on #82
As suggested by Jack Goodman

-On the stars selection, when you pick a choice I think it should automatically advance to the next question.
-If I answer a text question and then advance to a new text question, just starting typing brings me back to the last question. I have to click on the new question's textbox to start typing. You should have the form automatically select the new textbox for qui

[2016-05-13 15:04] mmihalev opened #83 "Start production"
Where is the grunt production task? I can't start it.

[2016-05-13 19:17] whitef0x0 commented on #83
Production and development is controlled by the NODE_ENV variable in your .env file

[2016-05-13 19:17] whitef0x0 commented on #83
just add NODE_ENV=production and then run grunt

[2016-05-13 20:43] mmihalev commented on #83
Thanks @whitef0x0
Then readme should be updated. Because currently it says:
To run development version:

$ grunt default

To run production version:

$ grunt production

[2016-05-13 22:35] whitef0x0 commented on #83
Fixed

[2016-05-13 23:53] whitef0x0 commented on #82
Stars selection scrolling is working along with focus.

[2016-05-14 02:00] whitef0x0 commented on #82
Number 2 and 3 have been implemented

[2016-05-14 02:14] whitef0x0 commented on #82
Number 1 has been implemented. Just need to reinstall bower on the server.

[2016-05-14 02:14] #82 closed

[2016-05-14 02:15] #80 closed

[2016-05-14 02:15] #83 closed

[2016-05-14 02:15] #57 closed

[2016-05-14 02:15] #79 closed

[2016-05-14 03:44] #62 closed

[2016-05-14 03:44] #45 closed

[2016-05-14 03:44] #3 closed

[2016-05-14 03:45] #22 closed

[2016-05-14 03:45] #53 closed

[2016-05-14 03:46] #4 closed

[2016-05-14 03:46] #41 closed

[2016-05-14 09:21] fixlair opened #84 "Add ability to send form to list of user with token"
Hello !
It would be very great if we could send the form to a list of user (by mail) for example with a specific token so that every user can respond only one time to the survey.

Thanks a lot !
Thanks for the great project !

[2016-05-14 14:53] whitef0x0 commented on #84
What exactly do you mean by token?

[2016-05-14 20:54] fixlair commented on #84
Hi !
By "token" I mean something uniq. In fact the idea was to be able to use Tellform as a survey tool in a restricted circle. Let's say that I have 10 users I would like to send them (by mail for example) a specific uniq link for each of them so that they will be able to answer the survey (nevermind they answer it or not, the important thing is just that they not may answer twice or more to make

[2016-05-16 19:57] whitef0x0 commented on #84
This isn't  a core feature of a web form so Im closing this issue. If you want to fork this project and add ot you are more than welcome to do so

[2016-05-16 19:57] #84 closed

[2016-05-17 00:30] #66 closed

[2016-05-17 00:47] #78 closed

[2016-05-17 00:50] whitef0x0 opened #85 "Fix form field dragging bug"

[2016-05-17 13:01] whitef0x0 opened #86 "Allow user to save responses"
User should be able to save responses halfway.

[2016-05-17 13:01] whitef0x0 commented on #86
And return to them later

[2016-05-17 13:12] whitef0x0 opened #87 "Add demo account"
Should create demo account/create passwordless account for people to try without signing up.

[2016-05-18 13:02] brianjking opened #88 "Signup broken"
`This page (https://admin.tellform.com/modules/core/views/header.client.view.html) is currently offline. However, because the site uses CloudFlare's Always Online™ technology you can continue to surf a snapshot of the site. We will keep checking in the background and, as soon as the site comes back, you will automatically be served the live version. Always Online™ is powered by CloudFlare.`

https

[2016-05-18 14:03] ahmadawais opened #89 "Can you separate just the JS part of the forms?"
I would like to turn this into a WordPress plugin can you build another repo with just the JS part of the form. Also none of the demos work.

[2016-05-18 19:21] whitef0x0 commented on #89
Demos are working now. See lalop/tellform for JS only version

[2016-05-18 21:39] whitef0x0 commented on #88
This has been fixed.

[2016-05-18 21:42] whitef0x0 commented on #81
This was attributed to this bug in nodemailer https://github.com/nodemailer/nodemailer/issues/441. This has been fixed and deployed on production and staging apps.

[2016-05-18 21:42] #81 closed

[2016-05-18 21:43] whitef0x0 commented on #85
This has been partially fixed. Form field dragging bug goes away after first field drag action.

[2016-05-18 23:37] whitef0x0 commented on #87
This has been created.

[2016-05-18 23:37] #87 closed

[2016-05-19 09:09] ErtugKaya commented on #88
Not for me. Still the same.

Also https://admin.tellform.com/#!/signin fails the same.

https://stage.tellform.com/#!/signin do not accept demo login.

[2016-05-19 18:44] lsascha opened #90 "form does not continue on click of a star rating"
the form continues scrolling down on click on nearly every field except the star rating parts. If i click on a star it stays there and i have to scroll down manually.

Additionally the next field will stay grayed out until i scrolled the next field to the top corner of the browser window, which feels a bit late so you might think it will stay inactive which makes the manual need to scroll worse.

[2016-05-19 19:38] whitef0x0 commented on #88
I'll have to look into this some more

[2016-05-19 19:40] whitef0x0 commented on #90
I will get to this by the weekend.

[2016-05-19 19:41] whitef0x0 commented on #88
This is address in https://github.com/nodemailer/nodemailer/issues/620

[2016-05-20 05:51] whitef0x0 commented on #90
This has been fixed. See demo form on tellform.com

[2016-05-20 05:51] #90 closed

[2016-05-20 21:41] whitef0x0 opened #91 "Open field after creation"
Field editing panel should be open right after we add a new field for better UX.

[2016-05-20 23:27] whitef0x0 commented on #88
This should be fixed now.

[2016-05-20 23:27] #88 closed

[2016-05-20 23:27] whitef0x0 commented on #89
S

[2016-05-20 23:27] #89 closed

[2016-05-21 07:42] ahmadawais commented on #89
Thanks

[2016-05-21 14:27] AdrianP- opened #93 "Problem in setup"
I get this when I try node ./scripts/setup.js:

[code]

[2016-05-21 19:32] whitef0x0 commented on #93
What version of node are you running? Did you run npm install before running the setup script?

[2016-05-21 19:51] whitef0x0 commented on #93
You shouldn't be getting this error now.

[2016-05-22 18:39] AdrianP- commented on #93
Yes, I still get the error. My platform is a ubuntu 14.04 server and node v6.2.0.

Yes, I ran npm install before running the setup script. Also with a new dowload get this:
`{ Error: Cannot find module '../build/Release/bson'` But this is fixed changed "mongoose": "3.8.40" with "mongoose": "^3.8.40" in package.json and reinstalling.

[2016-05-23 18:20] whitef0x0 commented on #93
I currently haven't tested it with node v6.2.0, so I can't guarantee it will work.

[2016-05-23 18:44] AdrianP- commented on #93
But my first try was with 4.x version of node and I got the same error.

[2016-05-23 18:58] whitef0x0 commented on #93
What does your ```app/controllers/users/users.authentication.server.controller.js``` contain?

[2016-05-23 18:58] whitef0x0 commented on #93
oh wait

[2016-05-23 19:00] whitef0x0 commented on #93
Sorry I forgot to push the fixed changes to master. They are pushed now.

[2016-05-30 23:37] whitef0x0 opened #96 "Fix DropDown Input"
Currently dropdown input is saving and displaying as JSON in "Analyze Data" view.

[2016-05-30 23:40] whitef0x0 opened #97 "Potential Security Issue"
Somehow someone has been able to change the startpage info text of one of the demo forms without logging in.

Need to look into this further.

[2016-05-31 17:03] whitef0x0 opened #98 "Make rating inputs customizable"
Allow user to change number of "steps" of rating as well as rating shape.

[2016-05-31 17:42] AdrianP- commented on #93
I retry right now with the new push and the new error:
[code]

[2016-06-01 03:23] whitef0x0 commented on #93
@AdrianP- sorry about this. I tested it on my system and the setup script now works. Just had to fix something else in my project.

[2016-06-01 03:23] whitef0x0 commented on #93
Let me know if it works for you as well.

[2016-06-01 19:12] whitef0x0 commented on #98
This is live on the staging site at http://stage.tellform.com

[2016-06-01 19:22] lalop opened #99 "margin issue"
There is an margin issue, the submit button can go out of the window, it seems to come from the bottom line.
<img width="1280" alt="capture d ecran 2016-06-01 a 21 20 40" src="https://cloud.githubusercontent.com/assets/313117/15722612/e068ed02-283e-11e6-9f38-f43afc4039ae.png">

[2016-06-01 21:21] whitef0x0 commented on #99
I'll look into it

[2016-06-02 23:03] whitef0x0 opened #100 "Allow user to tab through questions"
Pressing tab should focus on next question. Currently it doesn't always do this immediately.

[2016-06-04 10:39] whitef0x0 commented on #98
this has been completed

[2016-06-04 10:39] #98 closed

[2016-06-04 10:40] whitef0x0 commented on #93
@AdrianP-

[2016-06-04 10:56] whitef0x0 commented on #100
This is live on the staging server at http://stage.tellform.com

[2016-06-04 10:56] #100 closed

[2016-06-04 11:04] AdrianP- commented on #93
It works!! Thank so much @whitef0x0 :)

[2016-06-04 11:06] #91 closed

[2016-06-04 11:14] whitef0x0 commented on #99
This has been fixed in the most recent commit

[2016-06-04 11:17] whitef0x0 commented on #93
Awesome! Let me know if you have any other issues.

[2016-06-04 11:44] AdrianP- commented on #93
Sorry  to be a pain but everything went ok until I run it and tried to log in:

![captura de pantalla 2016-06-04 a las 13 40 46](https://cloud.githubusercontent.com/assets/8615608/15799366/60c3c46e-2a5a-11e6-949d-41fcacff4eee.png)

[2016-06-04 16:39] whitef0x0 commented on #93
did you set the BASE_URL parameter?

[2016-06-04 16:41] whitef0x0 commented on #93
If it's not set, the domain of the sessionCookie won't be set and it won't work. In your case you need to set your session cookie to http://40.69.47.126

[2016-06-05 00:07] lalop commented on #99
now the button's zone is smaller then the window
<img width="1279" alt="capture d ecran 2016-06-05 a 02 05 32" src="https://cloud.githubusercontent.com/assets/313117/15802855/2cc77800-2ac2-11e6-88bc-2e73f095c950.png">

and the margin is bigger
<img width="1280" alt="capture d ecran 2016-06-05 a 02 07 13" src="https://cloud.githubusercontent.com/assets/313117/15802857/40fa48ac-2ac2-11e6-8393-0a9725

[2016-06-05 00:47] whitef0x0 commented on #99
what should it ultimately look like?

Btw the css code is in forms.css if you wish to modify it

[2016-06-05 00:54] whitef0x0 commented on #99
Can you share a screenshot of what it should look like?

[2016-06-05 00:54] #97 closed

[2016-06-05 03:14] whitef0x0 commented on #96
This has been fixed and is live on stage branch

[2016-06-05 09:39] lalop opened #101 "hide press enter on mobile"

[2016-06-05 09:48] lalop commented on #99
I'm not sure of what you wanted to do but I imagine the idea is to have the submit button in the left top corner and no more scrolldown at this point.
Like this
<img width="812" alt="capture d ecran 2016-06-05 a 11 48 07" src="https://cloud.githubusercontent.com/assets/313117/15804738/747bad46-2b13-11e6-9ef9-aaed23bf5837.png">

[2016-06-05 15:53] AdrianP- commented on #93
Fix it. But the awesome script setup.js don't write the configurations in some .env file, so I had to create .env file with a correct BASE_URL.

I hope this is the last close :D

[2016-06-05 15:57] #99 closed

[2016-06-05 20:49] whitef0x0 commented on #93
Finding bugs makes the software better so don't feel bad about it! I'll look into fixing the setup script bug

[2016-06-06 02:36] whitef0x0 commented on #101
This has been fixed on the staging branch.

[2016-06-06 02:36] #101 closed

[2016-06-07 03:36] #96 closed

[2016-06-07 19:08] whitef0x0 commented on #93
@AdrianP- did you get it to run?

[2016-06-07 19:31] AdrianP- commented on #93
Sorry, I didn't test it. I will test in some moment.
On the other hand, in "Multiple Choice" field, the user only can select one choice.

Where I can write new Fields? Have you some UML or Architecture Diagrams?

[2016-06-07 19:35] whitef0x0 commented on #93
I don't have UML or Architecture Diagrams but I can write those up for you if you like

[2016-06-07 19:35] whitef0x0 commented on #93
The Multiple Choice field is more like a radio field. See typeform for what I was going for.

[2016-06-07 19:38] whitef0x0 commented on #93
@AdrianP- To add a field, create a template for it here https://github.com/whitef0x0/tellform/tree/master/public/modules/forms/views/directiveViews/field/

Fields are rendered by this directive https://github.com/whitef0x0/tellform/blob/master/public/modules/forms/directives/field.client.directive.js.

On the server side, this is the model for storing the fields https://github.com/whitef0x0/tellfo

[2016-06-07 19:41] AdrianP- commented on #93
Don't worry about the Diagrams, the last comment help me a lot!
I want to code my own fields, so I hope to make some commits in the future.
I know nodejs, but it's my first time in Angular, so it will be gradually

[2016-06-07 19:41] whitef0x0 commented on #93
@AdrianP- you can reach me on email or on gitter if you need more help

[2016-06-07 20:30] whitef0x0 commented on #93
btw I think I fixed the .env bug in the setup script

[2016-06-09 00:04] #93 closed

[2016-06-09 00:04] whitef0x0 opened #103 "Add translation for entire app"
@lalop can you do this?

[2016-06-09 03:59] whitef0x0 opened #104 "Add Payment Fields"
Add a payment field that uses Stripe or Paypal

[2016-06-09 03:59] whitef0x0 opened #105 "Add image/video file uploads for fields"
Need to add image and/or video file uploads for input and multi-choice fields

[2016-06-09 04:01] #17 closed

[2016-06-10 08:59] lalop opened #106 "add checkbox field"
It can be great to have checkbox support

[2016-06-10 22:16] whitef0x0 commented on #106
I don't really think we need checkboxes tbh. They aren't very nice looking plus integrating them with keyboard input isn't very easy

[2016-06-11 10:14] AdrianP- commented on #106
+1

[2016-06-11 19:29] lalop commented on #106
@whitef0x0 it is not really about checkboxes in fact, it's more about a way to select multiple answer in a multiple choice question.

[2016-06-11 20:59] lalop opened #110 "intégration issue with long option"
The actuel design for multi choice question is broken for option with long text
<img width="1012" alt="capture d ecran 2016-06-11 a 22 55 43" src="https://cloud.githubusercontent.com/assets/313117/15987423/2ab0bc00-3028-11e6-8273-735c6b1e37b3.png">

[2016-06-11 23:53] whitef0x0 commented on #110
You can fix this by removing the bootstrap col class to make it autofit.

[2016-06-11 23:53] whitef0x0 commented on #110
Or by adding text-break option to be true

[2016-06-11 23:53] whitef0x0 commented on #110
I reccomend the latter

[2016-06-11 23:53] whitef0x0 commented on #106
@lalop I'm still not sure if this is absolutely nessecary

[2016-06-11 23:54] whitef0x0 commented on #106
@lalop plus the current multiple choice field is of type radio so it won't allow multiple inputs. This would have to be a separate field. I would rather get the payment or file upload fields working first as these are far more requested by users than a checkbox-like field

[2016-06-12 07:05] lalop commented on #106
@whitef0x0 I can add a checkbox like field but I wanted to know your point of view on the way to do it before.

[2016-06-12 07:06] lalop commented on #103
I started to answer on gitter, I will not be able of adding more then french and english translation but is better than nothing

[2016-06-12 14:04] AdrianP- commented on #106
In my opinion it would be a great (and necessary) improvement. Many questions have multiple answers. For example, Where did you travel last year?
-Spain
-France
-Italy
-...
(and thousands examples similars)

[2016-06-12 16:48] lalop commented on #110
Do you want me to make a PR ?

[2016-06-12 17:24] lalop commented on #103
by admin-form you mean this https://github.com/whitef0x0/tellform/tree/master/public/modules/forms/admin ?

[2016-06-12 18:59] whitef0x0 commented on #110
yea that would be nice

[2016-06-12 19:00] whitef0x0 commented on #106
I guess you could add a checkbox field @lalop.

[2016-06-12 19:03] whitef0x0 commented on #103
@lalop yep. Well translation for entire app essentially.

[2016-06-13 21:18] lalop opened #112 "integration issue on radio"
The radio ui seems to be broken on the contact exemple
<img width="612" alt="capture d ecran 2016-06-13 a 23 13 33" src="https://cloud.githubusercontent.com/assets/313117/16023453/2741e90e-31bd-11e6-98f2-5debb3a1d545.png">

[2016-06-13 21:20] whitef0x0 commented on #112
It's just a matter of spacing

[2016-06-13 21:26] whitef0x0 commented on #103
@lalop it would be awesome if you could add your client to new list of users on the README. Would help add confidence to new/potential users

[2016-06-13 23:11] whitef0x0 opened #113 "Blog Post"
I'm thinking of writing a blog post about the underlying tech in tellform. @lalop you interested in contributing or writing your own post
?

[2016-06-14 07:29] lalop commented on #113
Hello David,

I’m not sure to have necessary time to write a post for now but I will contribute with pleasure.
More once the form-angular project is ready ( bower => npm, make it a real library, add some doc …. ) I will try to write something on it

[2016-06-14 10:45] AdrianP- commented on #113
Really useful!

[2016-06-14 15:27] whitef0x0 opened #114 "Move to ReactJS"
I have been thinking of porting this to ReactJS. It will be a lot of work but may be worth it.

[2016-06-15 06:27] lalop commented on #114
oh yes it's a lot of work :)
maybe you can make this module per module ?

[2016-06-16 04:40] whitef0x0 commented on #103
@lalop I added translation to the entire app. Can you add french?

[2016-06-16 06:45] lalop commented on #103
@whitef0x0 sure, I don't find the english translation file, did you do it on stage branch ?

[2016-06-16 18:59] whitef0x0 commented on #103
Yep

[2016-06-16 19:05] whitef0x0 opened #115 "Design Update"
Maybe we should go with something more like this? http://tympanus.net/Development/FullscreenForm/

[2016-06-17 14:48] AdrianP- commented on #106
How was @lalop?

[2016-06-17 14:49] lalop commented on #106
I started work on it but I don't have a working solution for now

[2016-06-17 19:16] whitef0x0 commented on #103
@lalop translation is now live on master branch as well

[2016-06-18 07:36] lalop commented on #103
hi @whitef0x0, for the translate it's better to use dynamic variable like here https://github.com/whitef0x0/tellform/blob/master/public/modules/forms/base/config/i18n/french.js#L11 then split the sentences.
It's make more sense for the translator and it's more powerfull

[2016-06-18 21:12] whitef0x0 commented on #103
@lalop oh ok. I didn't know that was possible

[2016-06-19 21:46] whitef0x0 opened #119 "Move from Jade to Pug"
Jade was renamed to pug. Need to reflect this in our codebase.

[2016-06-20 20:20] #103 closed

[2016-06-21 04:16] #119 closed

[2016-06-21 04:17] #110 closed

[2016-06-21 19:43] AdrianP- opened #120 "Problem with analyze"
Some commit broke Analyze. When finish a form, and try to view the Analyze, this happen:

![captura de pantalla de 2016-06-21 21-41-09](https://cloud.githubusercontent.com/assets/8615608/16243769/232e04dc-37f9-11e6-95b0-305c6736d53c.png)

The file in the log is: submit-form.client.directive.js
And all of this logs print it when makes a scroll on the page

[2016-06-21 22:00] AdrianP- commented on #120
In fact, the problem is ".activeField" doesn't exist

[2016-06-24 03:47] whitef0x0 commented on #106
@lalop any progress?

[2016-06-24 06:32] lalop commented on #106
no in the last 7 days, sorry

[2016-06-24 21:10] whitef0x0 commented on #77
see this for inspiration https://news.ycombinator.com/item?id=11971491

[2016-06-24 21:12] whitef0x0 opened #121 "Add form comparison page"
Aka something like this https://www.sitebuilderreport.com/blog/how-long-does-it-take-saas-companies-to-reply-to-support-emails

[2016-06-25 18:33] AdrianP- commented on #120
Other problem is you can't do a "Form" if you're logged

[2016-06-27 18:39] whitef0x0 commented on #120
@AdrianP- what do you mean by do a Form?

[2016-06-27 18:39] whitef0x0 commented on #120
Like submit a form if you are logged in?

[2016-06-27 18:43] AdrianP- commented on #120
With "do a Form" I meant the option "View Form" in the Admin panel.
That happens me also with the last commit. Can you test it?

[2016-06-27 18:45] whitef0x0 commented on #120
@AdrianP- just to clarify this bug only happens when you are logged in, correct?

[2016-06-27 18:47] AdrianP- commented on #120
Exactly. Thanks for your time @whitef0x0

[2016-06-27 22:33] whitef0x0 commented on #54
This has been finished @lalop in https://github.com/tellform/angular-tellform

[2016-06-29 20:20] whitef0x0 commented on #120
@AdrianP- what file is this bug referencing?

[2016-06-29 20:22] whitef0x0 commented on #120
Technically in the analyze view there should be no element with the 'activeField' class so it should be erroring. I haven't had s chance to test this yet

[2016-06-29 20:31] AdrianP- commented on #120
The file:
![tellform](https://cloud.githubusercontent.com/assets/8615608/16467678/b27cf5f8-3e48-11e6-9d66-e1970c60fe41.png)

First Error happens when press the "View Form" button and you're logged.
The second, when you scroll in the Analyze tab

Thanks!

[2016-07-08 08:22] campbx opened #122 "Beautiful work! Minor nitpick though..."
Great job with the Tellform code David!  Phenomenal job with the UI.

I noticed that multiple choice look a little wonky, and was showing old-fashioned radio buttons on top of your CSS design.

By the way, one more feature suggestion: If a required field it not complete, form should not be able to progress to the next question.  Right now I can hit enter 5 times and get 5 errors for all skipped fi

[2016-07-08 19:41] whitef0x0 commented on #122
@campbx I fixed the multiple choice wonky ui design.

[2016-07-08 19:41] whitef0x0 commented on #122
I just haven't had time to updated it to www.tellform.com

[2016-07-08 22:03] campbx commented on #122
Thanks!  Any thoughts on required fields before moving on to the next question?

[2016-07-11 22:50] whitef0x0 commented on #122
I think it's a good feature. I have a lot on my plate rb but will try to get to it as well as the previous iaaue by the end of the week

[2016-07-11 22:53] #122 closed

[2016-07-15 02:25] #112 closed

[2016-07-15 02:26] #54 closed

[2016-07-15 02:27] whitef0x0 commented on #106
@lalop I guess I'll take this over then?

[2016-07-15 02:27] whitef0x0 commented on #85
this has been fixed permanently

[2016-07-15 02:27] #85 closed

[2016-07-15 02:27] #86 closed

[2016-07-15 02:28] #115 closed

[2016-07-16 10:06] AdrianP- commented on #106
Hi @lalop , please tell me when you think it will be finish. Because i need it :)

[2016-07-19 20:23] AdrianP- commented on #106
I just finish logic paths for Multiple Choice.
If you share soon the checkbox field, I will add too

[2016-07-19 22:45] whitef0x0 commented on #106
@AdrianP- have you done logic paths for all fields?

[2016-07-20 18:46] AdrianP- commented on #106
Don't, only for Multiple Choice

[2016-07-21 23:13] whitef0x0 opened #123 "Run on Amazon EC2 (with Docker)"
Using Docker we should be able to deploy TellForm on Amazon ECS. There should also be a accompanying guide for Amazon ECS deployment for others to use.

[2016-07-21 23:14] whitef0x0 commented on #123
See this https://blog.giantswarm.io/getting-started-with-docker-and-meanjs/ for info on how to use Docker with NodeJS

[2016-07-21 23:55] whitef0x0 commented on #123
Also see this https://blog.codeship.com/running-mean-web-application-docker-containers-aws/

[2016-07-26 16:27] whitef0x0 opened #125 "Create admin panel"
Admin panel should allow admin to manually do CRUD operations on users and manually verify users.

[2016-07-28 00:05] jackrabb1t opened #126 "Feature request: Offline access to forms from mobile browsers"
Is it possible to use html5 local storage or any other means to store the data locally without internet access.

A use-case I am looking at involves using android devices to collect data remotely in locations where network access is hard to get. It would be great to use a Chrome browser, store the data locally and sync up once the connectivity is back, or when manually triggered.

What would it ta

[2016-07-28 06:26] whitef0x0 commented on #126
Yea should be possible. The forms are stored in a JSON format so would be pretty easy.

[2016-08-08 04:00] jackrabb1t commented on #126
i found this : https://github.com/paldepind/synceddb

I will try to see how one can sync to a postgres db when there is a connection, and how to check from time to time.. any tips/pointers appreciated.

[2016-08-08 04:03] whitef0x0 commented on #126
@jackrabb1t why not just use HTML5 LocalStorage or equivalent?

[2016-08-08 04:20] jackrabb1t commented on #126
@whitef0x0  : If I store this locally, then I still need to sync the data to the server at some point? Please point me to some resources on LocalStorage.

i am a JS/FE newbie, so feeling my way around... synceddb seems to extend IndexedDB to provide exactly what I need?

Another option would be to replace mongoose with something like sequelize, and check if the internet is up. If it is, then just

[2016-08-08 04:30] whitef0x0 commented on #126
@jackrabb1t you can move to sequelize but it will be a lot of work.

[2016-08-08 04:30] whitef0x0 commented on #126
@jackrabb1t Why not just make the frontend into a hybrid app or something

[2016-08-08 04:32] jackrabb1t commented on #126
@whitef0x0

yes, it is not the first option

Could you please expand on this?

[2016-08-14 03:04] whitef0x0 commented on #126
@jackrabb1t look into hybrid webapps.

[2016-08-25 06:01] devkhan commented on #77
Any progress on this? Or is there is any other way to extend tellform?

[2016-08-26 00:55] whitef0x0 commented on #77
@devkhan I currently have a working api here https://github.com/whitef0x0/tellform/tree/api, but it isn't stable enough for master (yet).

It's not oauth, as it requires you to send the key in every request, but its a start.

[2016-08-26 00:55] #113 closed

[2016-08-26 00:56] whitef0x0 commented on #24
@lalop @AdrianP- I've got this working on the api branch if you want to check it out

[2016-08-26 05:50] devkhan commented on #77
Is it possible to make login compulsory for submitting the form, yet?

It's not possible without OAuth, right?

[2016-08-26 05:52] whitef0x0 commented on #77
@devkhan that would be a complete deviation from what tellform is for (open forms). If you really ant to make login compulsary you could always protect your hosted instance with HTTP basic auth or something.

[2016-08-26 05:54] whitef0x0 commented on #77
@devkhan maybe before asking questions here you should read up on this https://stormpath.com/blog/what-the-heck-is-oauth.

[2016-08-26 05:54] whitef0x0 commented on #126
Have you made any progress @jackrabb1t? Otherwise I'll just close this issue.

[2016-08-26 05:55] whitef0x0 commented on #20
Can do this with a token hash

[2016-08-26 05:56] #120 closed

[2016-08-26 06:26] lalop commented on #24
@whitef0x0 I will try to check next week

[2016-08-26 22:18] whitef0x0 commented on #24
@lalop sorry it's actually on the logic_jump branch

[2016-08-26 23:49] #126 closed

[2016-08-26 23:49] #123 closed

[2016-08-27 16:23] forteller opened #127 "Filled out forms are not shown in the analytics"
I created a test-form and filled it out. But even after waiting 15 minutes the analytics still show 0 responses, and the text I filled out is not shown in the response table. I tried filling it out again, with the same result.

Here's my test: https://forteller.tellform.com/#!/forms/57c1b44c112b10f82d1aea10

[2016-08-27 17:38] whitef0x0 commented on #127
I'll look into this.

[2016-08-27 18:10] forteller commented on #127
Thanks! Just to make sure I checked again now, and there's still nothing there.

[2016-09-20 21:10] xtremewebsites opened #128 "Missing Thank You Page & Embed code"
After testing the software I noticed a critical issue. There is NO way to add a custom thank you message or  URL redirect upon submission. Also I don't see any way to embed this form. See
https://goo.gl/IP7mL4  I don't see how this can be used without these 2 things. Please update.

[2016-09-22 17:17] whitef0x0 commented on #128
@xtremewebsites embedding can be created by just using an iframe with the url of your form.

[2016-09-22 20:07] xtremewebsites commented on #128
ok, how about the thank you page. How do you add it or how do you create a
url redirect?

On Thu, Sep 22, 2016 at 1:17 PM, David Baldwynn <notifications@github.com>
wrote:

[2016-09-23 18:59] whitef0x0 commented on #128
It's not customizable

[2016-09-28 09:25] MiloParigi commented on #24
@whitef0x0 is it actually in beta or a working feature ? Thanks for this awesome work btw !

[2016-09-28 17:27] cantiere opened #129 "preset list of fields"
We'd like to inject a pre-set list of fields that users can add to the form.  It's mostly to facilitate integration with the CRM.

We can definitely get in there to customize, but wondering how complex/easy that would be.

For example in addition to the current list of "add new field" we'd have another section called "Prospects Fields", etc...

[2016-09-29 05:07] whitef0x0 commented on #24
@MiloParigi this is a working feature on the logic jump branch

[2016-09-29 05:07] whitef0x0 commented on #129
@cantiere wouldn't be that hard

[2016-09-29 05:08] whitef0x0 commented on #129
You just need to add a button that adds multiple fields at once instead of one

[2016-09-29 05:22] cantiere commented on #129
Thanks! We'll take a look soon. One thing that's frustrating of all form solutions out there is that none allows you to pre-define a list of acceptable fields.

[2016-10-01 19:40] whitef0x0 commented on #129
@cantiere if you need help customizing tellform to your app I do contract development as well. My email is on my github profile

[2016-10-03 00:34] sako9 opened #131 "Bower install error"
When running bower install I get this error:
bower js-xlsx#0.8.14                            ENORESTARGET No tag found that was able to satisfy 0.8.14

[2016-10-03 00:54] sako9 commented on #131
the tableExport.jquery.plugin dependency seems to be causing the error

[2016-10-03 22:02] whitef0x0 commented on #131
@sako9 I'll look into it after my midterm on Tuesday

[2016-10-12 01:02] tarbib opened #132 "Typeform payment alternative"
Hi there,

First of thanks for your hard work. This app is the closer I've seen to Typeform. Very well designed.

I ended upon Tellform looking for an alternative to https://www.typeform.com/examples/#Payment with Stripe integration.

Currently is it possible to accomplish something similar with Tellform? Do you plan to implement it in the future?

Thomas

[2016-10-13 04:41] spekulatius commented on #132
Subscribe.

I'm interested in a Stripe integration as well :)

[2016-10-13 05:44] tarbib commented on #132
This could make a dead simple out-of-the-box ecommerce solution right?

On 13 October 2016 at 12:41, Peter Thaleikis <notifications@github.com>
wrote:

--

Thomas Arbib

France : +33 (0)6 30 66 72 25
中国手机 : +86 156 1056 5007

Twitter : @tarbib <http://twitter.com/tarbib>
微信 (WeChat) ID : tarbib

http://about.me/thomasarbib

[2016-10-13 06:48] spekulatius commented on #132
Absolutely, that would make an amazing tool for spinning up e-commerce sites.

[2016-10-13 12:17] whitef0x0 commented on #132
@spekulatius @tarbib like something with stripe?

[2016-10-13 23:16] spekulatius commented on #132
My plan would be using Tellform to have a sign-up/on-boarding process to capture required information for the customization of my app, then get the payment done and finally do the actual set up my app. Painfree signup with Tellform :)

[2016-10-14 02:55] tarbib commented on #132
@whitef0x0

Yes something like this: https://www.typeform.com/examples/order-forms/cake-order-form-template/
![image](https://cloud.githubusercontent.com/assets/2255433/19374182/7933d70a-91fc-11e6-829a-0aeadea8c024.png)

User makes choices. Based on this, it will decide the amount to charge with Stripe. Card informations are entered at the end of the form.

[2016-10-14 16:32] spekulatius commented on #132
I'm not sure if I'm worrying about something which isn't a real topic (for now). But entering your credit card details into a website does open yourself to being required to be PCI compliant, doesn't it? To avoid this in my old company we used to point to an external service (paypal in this case). Have you had to deal with this stuff @whitef0x0 ?

[2016-10-14 21:08] whitef0x0 commented on #132
@spekulatius I would most likely use Stripe to avoid PCI compliance.

[2016-10-14 23:38] whitef0x0 commented on #131
@sako9 can you provide the entire console output as well as details about your system and the version of node that you're running?

[2016-10-15 00:30] #19 closed

[2016-10-15 00:31] whitef0x0 opened #133 "Implement encryption for form submissions"
This should encrypt form submissions for a user using a user's key. Should use AES or equivalent.

[2016-10-15 17:23] sako9 commented on #131
Had actually uninstalled awhile ago.  When I reinstalled and ran the command, it completed with no error. Guess I was doing something wrong.

[2016-10-15 17:23] #131 closed

[2016-10-21 06:01] jumbosushi opened #134 "Password reset doesn't work"
Signed up, got denied that the password that I just typed before is wrong, went to Password Reset, and now the Reset Page prints HTML whenever I try to update the password.

[2016-10-22 15:57] wcaban1206 opened #135 "I can not Sign in after Sign Up"
When I sign Up and verify my email address, I try to immediately log in and I am told that I am entering incorrect parameters. This seems to be a glitch in the sign up because I have been trying to do this for days now.

Please help as I would like to start using your service asap. Thanks

[2016-10-22 21:50] whitef0x0 commented on #135
@wcaban1206 you have to sigin with your username, not your email

[2016-10-27 19:18] johnnymatson commented on #128
Hi @whitef0x0, embedding doesn't work for the URL of the form. Is there a particular format or syntax you would recommend? I tried Embedly but that only renders a card linking back to the page rather than rendering the form itself.

[2016-11-02 04:47] jazzcrack opened #139 "tellform.com: no result and analytics saved"
I just created a form on tellform.com and finished it successful.
No submitted data is saved, na analytics are saved too.
Tried with Chrome 54.0.2840.71 (mac) and Safari 10.0.1 (mac).

[2016-11-02 04:56] jazzcrack opened #140 "tellform.com - Contact is broken"
Cant use the contact form at tellform.com. Everytime stopped at that f***ing "Email Protection
You are unable to access this email address tellform.com". :-/

[2016-11-02 07:11] nntu opened #141 "Not compatible with your operating system or architecture: fsevents@1.0.14"
hi,
when install ,
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.14
npm ERR! Windows_NT 10.0.14931
npm ERR! argv "C:\\nodejs\\node.exe" "C:\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v6.3.0
npm ERR! npm  v3.10.3
npm ERR! code ELIFECYCLE

npm ERR! bcrypt@0.8.

[2016-11-02 15:04] whitef0x0 commented on #140
@jazzcrack sorry about that. I'll fix that today

[2016-11-06 16:05] akshatgoel commented on #141
@nntu fsevents is an OS X API and is unavailable for windows. As it stands, it is an optional dependency. You can skip the installation for the same using `npm install --no-optional` without any drawbacks.

Check out SO link for more info : http://stackoverflow.com/questions/36725181/not-compatible-with-your-operating-system-or-architecture-fsevents1-0-11

[2016-11-08 00:01] #141 closed

[2016-11-08 23:15] whitef0x0 commented on #140
@jazzcrack this has been fixed.  Sorry about the delay.

[2016-11-08 23:15] #140 closed

[2016-11-08 23:15] #135 closed

[2016-11-08 23:16] whitef0x0 commented on #77
@devkhan this has been completed.

[2016-11-08 23:16] #77 closed

[2016-11-09 16:28] whitef0x0 commented on #139
@jazzcrack I've fixed the no results problem. Will push to the live site soon.

[2016-11-09 16:28] whitef0x0 commented on #139
I'll take a look at the analytics problem

[2016-11-11 22:21] whitef0x0 commented on #139
This has been fixed and pushed to the master branch

[2016-11-11 22:21] #139 closed

[2016-11-11 22:22] whitef0x0 commented on #127
@fortweller this has been fixed

[2016-11-11 22:22] #127 closed

[2016-11-11 22:22] #129 closed

[2016-11-11 22:22] whitef0x0 commented on #134
@jumbosushi sign-up should be working now

[2016-11-14 19:05] whitef0x0 commented on #134
@jumbosushi password reset has been fixed.

[2016-11-14 19:05] #134 closed

[2016-11-14 20:17] whitef0x0 commented on #128
@johnnymatson it should work now

[2016-11-14 20:20] whitef0x0 commented on #24
@MiloParigi this has been merged and is live at tellform.com

[2016-11-14 20:20] #24 closed

[2016-11-14 20:21] whitef0x0 commented on #104
Duplicate of #132

[2016-11-14 20:21] #104 closed

[2016-11-14 21:14] #128 closed

[2016-11-18 01:19] spekulatius commented on #132
@whitef0x0 yeah,

[2016-11-18 03:19] whitef0x0 commented on #132
@spekulatius I've been busy with updating to 2.0.0 but I should be able to get to it

[2016-11-18 20:07] spekulatius commented on #132
That would be awesome @whitef0x0 :) Thank you

[2016-11-24 08:19] rahilwazir opened #143 "Frontend only"
I want tellform to be integrated with my PHP application and I just want the frontend form UI. I want my form to be transform into tellform with JS initialization.

Is this possible? can I use the frontend part of the form only?

[2016-11-24 14:38] whitef0x0 commented on #143
Yep. Look at http://github.com/tellform/angular-tellform.

[2016-11-24 14:38] #143 closed

[2016-11-25 19:05] #114 closed

[2016-12-29 00:26] joaopdcgarcia commented on #132
This feature would be awesome! A Stripe integration with a SSO solution would be great for e-commerce.

[2016-12-29 00:29] joaopdcgarcia commented on #132
@whitef0x0 could you give me a status on this implementation? Also if it is possible to do SSO with tellform

[2016-12-29 15:23] asmarius opened #144 "Broke site after login - Keeps requesting GET http://127.0.0.1:3000/forms 401 (Unauthorized)"
Hi,

I followed the [instructions ](https://github.com/whitef0x0/tellform/blob/master/README.md) to install the latest version of Tellform on my machine (no docker installation). After accessing http://127.0.0.1:3000/ and logging in into my account the site seems to be broke.

My browser console keeps printing

`GET http://127.0.0.1:3000/forms 401 (Unauthorized)
intercepted rejection of  /forms 40

[2016-12-31 00:39] whitef0x0 commented on #144
@asmarius you have to use a subdomain. Please setup DNSMasq to use it properly. Also you need to set the BASE_URL in the config to whatever your domain will be.

[2017-01-31 20:03] ersel commented on #144
I'm having the same problem with the docker development image, isn't there a workaround this?

[2017-01-31 22:01] whitef0x0 commented on #144
@ersel you have set your BASE_URL parameter in the .env file.

[2017-02-03 09:18] jonathanAcute opened #145 "Error examples"
The examples website dont work :(

[2017-02-08 09:57] asmarius commented on #144
I ran `./scripts/setup.js` but it only created an empty .env file. Is that the correct behaviour?

[2017-02-08 10:45] stanfaire commented on #145
It seems to work now 👍

[2017-02-13 07:57] hieuiee commented on #145
Same. Having issues viewing examples (502 bad gateway) & admin.tellform.com (cloudflare - bad gateway)

[2017-02-16 21:02] gregordimi commented on #145
Same. Still not working

[2017-02-17 06:46] sarbjeetsingh commented on #145
Example are not working

[2017-02-18 21:14] 1beb opened #146 "tellform docker instructions non-functional"
Reproduce:

1. Fresh docker-ready server with Ubuntu 16.04
2. Run commands in readme

[code]

3. Sign up for new account
4. Verify
5. Log-in

Logs show:
[code]

The UI is non-functional (you can click but it just closes the new form popup right away). The only way to stop it is to sign out.

[2017-02-21 20:15] dguzman1012 opened #147 "Unable to setup!"
Hello!!!

I have installed the last version of tellform into an Instance on Aws.

All requirements and dependences are done but i am still unable to see the sign in form.

![error_tellform](https://cloud.githubusercontent.com/assets/5767551/23182809/3f974ea4-f850-11e6-82a5-c63370ffed7f.png)

BTW: i have done a correct configuration into Apache with a reverse proxy in order to show only domain and

[2017-02-21 20:57] dguzman1012 commented on #147
Now when i change the NODE_ENV to "production" it just show me an AngularJS Error:

![error_in_production](https://cloud.githubusercontent.com/assets/5767551/23184588/c6990bee-f856-11e6-98b9-29c66ac22e89.png)

Thanks for your interest

[2017-02-21 22:18] leolabcat commented on #146
I have the same issue when following the quickstart instructions with NODE_ENV as development. Set-up is fine but after logging in, the browser URL continually loops between .../signin and .../forms. I can see the UI but it's not functional because of the looping issue - can't figure out how to stop it.

[2017-02-22 04:17] aguestuser commented on #146
+1 same issue as @1beb and @leolabcat . reproduced running both using docker and grunt.

[2017-02-22 08:00] asmarius commented on #146
Your problems seems to be related to this issue: https://github.com/whitef0x0/tellform/issues/144 . However the suggested solutions didn't work for me...

[2017-02-22 08:28] asmarius commented on #144
@whitef0x0 My subdomain is working but I'm ending up with

`Page Not Found
	 is not a valid path.`

[2017-02-22 19:21] dguzman1012 commented on #144
I have the same probelm!!!! @asmarius @whitef0x0

[2017-02-22 19:22] dguzman1012 commented on #146
Same problem here...

[2017-02-22 20:27] leolabcat commented on #146
Fixed this with NODE_ENV as development by setting BASE_URL to 'localhost' in the .env file.

[2017-02-22 20:47] dguzman1012 commented on #146
Great you have fixed the problem!!! I see that is on local enviroment... how could be in a VPS? I mean i already set the BASE_URL from my_domain and nothing... =/

https://github.com/whitef0x0/tellform/issues/147

[2017-02-24 23:23] whitef0x0 commented on #145
@sarbjeetsingh @gregordimi @hieuiee Sorry about this. Just got everything up again.

[2017-02-24 23:23] #145 closed

[2017-02-24 23:24] whitef0x0 commented on #147
@dguzman1012 you have to set your BASE_URL to whatever url you are using for your server. Aka for the hosted site, (at admin.tellform.com), the BASE_URL is admin.tellform.com

[2017-02-24 23:25] whitef0x0 commented on #146
@leolabcat I'll add this to the instructions.

[2017-02-24 23:25] whitef0x0 commented on #146
@dguzman1012 you need to have a domain. Set this to whatever the domain of your server is.

[2017-02-24 23:25] #146 closed

[2017-02-24 23:31] dguzman1012 commented on #147
actualy i did it... i use my.domain.com and i set that domain into BASE_URL. Still nothing

[2017-02-25 01:27] whitef0x0 commented on #147
@dguzman1012 can you click on the second error and show me the page that renders?

[2017-02-25 02:35] whitef0x0 commented on #144
@asmarius what is the url that you get that error for?

[2017-03-01 11:08] uncleashi opened #148 "Tellform.com is not working."
Hi,
I tried to open tellform.com to learn more about it and try its demo templates but seems like its not working.
Can you please look into it and resolve the issue.
Thanks

[2017-03-01 19:04] whitef0x0 commented on #148
fixed

[2017-03-01 19:04] #148 closed

[2017-03-01 22:31] #144 closed

[2017-03-06 22:18] membranepotential commented on #147
Hey I am having exactly the same problem. Trying to access the site i get `Page not found,      is not a valid path`. In the console it tells me 404 on / and 401 on /users/me. The url is set to /#!/forms.

In the node logs is a list of https://... entries, maybe this points to a problem? I am not running on https at the moment.

I am running nginx in proxy configuration, but trying to access the n

[2017-03-06 22:51] whitef0x0 commented on #147
@membranepotential Well, it expects you to have access to the root domain. You can run the admin panel on a subdomain though.

[2017-03-06 22:53] membranepotential commented on #147
Ok thank you, I will switch the site to the root domain and report back

[2017-03-06 22:59] membranepotential commented on #147
Thank you very much, running the site on a regular domain (like http://example.com) instead of a subdomain (like http://subdomain.example.com) and setting the BASE_PATH accordingly fixed the issue for me.

[2017-03-06 23:57] membranepotential opened #149 "Signup Form for password input not displaying ••• on MacOS Safari (CSS issue)"
Hey!

The signup field on MacOS (Desktop) Safari 10.0.3 has an issue. It works in Chrome for me. It doesn't display any input characters (•) on typing. Signup works anyway.

Deleting the `padding: 30px 20px;` for input.form-control in the developer tools fixes the issue, but then the inputs are too small, obviously.

Cheers =)

[2017-03-07 00:33] whitef0x0 commented on #147
@membranepotential awesome! Yea I'll add that to the README. Just busy fixing other bugs right now but I'll put it in the queue.

[2017-03-07 00:33] #147 closed

[2017-03-07 00:34] whitef0x0 commented on #149
This has been replicated. Will deploy hotfix for this shortly.

[2017-03-07 00:53] whitef0x0 commented on #149
Fixed and deployed.

[2017-03-07 00:53] #149 closed

[2017-03-07 00:53] #125 closed

[2017-03-17 17:30] vaMuchenje opened #150 "Can't install locally. npm install fails"
I tried running `npm install` with both sudo and without.
Getting this ridiculous error log

[code]

[2017-03-18 02:39] whitef0x0 commented on #150
@vaMuuchenje can you please list:
1. OS and OS version number
2. Node version
3. npm version
4. gcc version

[2017-03-19 09:32] BasixKOR opened #151 "https://www.tellform.com/ website is dead."
It is still hosted powered by cloudflare, but it should be fixed anyway.

[2017-03-19 09:35] BasixKOR commented on #151
It looks like SSL problem. it says: HTTP/1.1 526 Origin SSL Certificate Error

[2017-03-20 12:06] MPimenta commented on #38
Hey there! your free Typeform alternative looks awesome, but this feature in particular is one that I feel would make it great: any idea when it will be available? :)

[2017-03-20 20:09] whitef0x0 commented on #151
Fixed. Had to renew our certs

[2017-03-20 20:09] #151 closed

[2017-03-20 20:11] whitef0x0 commented on #38
@MPimenta this requires hooking up the Amazon S3 which I'm currently doing  for file uploads.

Will probably be available in a month

[2017-03-20 20:12] whitef0x0 commented on #38
If you want to speed it up you can always donate here https://opencollective.com/tellform :)

[2017-03-22 14:25] vfonsecapv opened #152 "http://localhost:3000/#!/forms LOOP"
When I start my app it's enter on a infinite loop on

GET /forms 401 0.659 ms - 12

[2017-03-22 14:31] #152 closed

[2017-03-22 18:52] whitef0x0 commented on #152
@vfonsecapv you need to set the BASE_URL to localhost

[2017-03-24 20:58] jemus42 commented on #147
Hm, after much trial and error I finally found this issue, because that's exactly what I'm trying to do. I assumed I was having issues with docker, as I'm just starting to use it.

Am I correct to assume that currently there's now way to properly deploy tellform on a subdomain?
Because, well, that would be handy :/

[2017-03-28 01:31] whitef0x0 commented on #147
@jemus42 @dguzman1012 @membranepotential I've just added a SUBDOMAINS_DISABLED ENV variable that's working in the stage branch. If you set SUBDOMAINS_DISABLED=TRUE in your .env file while using the stage branch it should work.

[2017-03-28 02:05] dguzman1012 commented on #147
@whitef0x0 Wow man... Thank you very much!!! let me try it!

[2017-03-28 07:48] whitef0x0 commented on #147
@dguzman Donations.are,always welcome if you ever feel generous

[2017-03-30 12:26] rotragit opened #155 "submit-form.client.directive.js errors"
I get several errors trying to run. I don't know if it's a dependency problem.

Running "jshint:all" (jshint) task

   public/form_modules/forms/base/directives/submit-form.client.directive.js
    171 |                                    return !(left.indexOf(right) > -1);
                                                    ^ Confusing use of '!'.
    215 |                            if(field_id =

[2017-03-30 12:40] rotragit commented on #155
Ubuntu 16.04.2 LTS
nodejs v4.2.6
npm 3.5.2
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

[2017-03-30 16:39] whitef0x0 commented on #155
@rotragit the jshint errors should be fine. Is it stopping you from running the grunt task?

[2017-03-30 22:20] whitef0x0 commented on #150
Closing due to lack of details.

[2017-03-30 22:20] #150 closed

[2017-04-01 04:21] rotragit commented on #155
Hi, sorry, I was out of office and I'll check again on Monday. Anyway I have got only a blank page when browsing to http://localhost:3000. I'll check again also the configuration.
Thank you!

[2017-04-03 07:41] rotragit commented on #155
Hi, grunt test fails with:

  Form Routes Unit tests
    1)  > should be able to upload a PDF to Form if signed in
    ✓  > should not be able to create a Form if not logged in
    ✓  > should not be able to get list of users' Forms if not logged in
Mon, 03 Apr 2017 07:39:31 GMT uncaughtException: Cannot read property
'should' of undefined
TypeError: Cannot read property 'should' of undefined

[2017-04-03 12:43] whitef0x0 commented on #155
@rotragit your branch is up to date with the current master right?

[2017-04-03 14:38] rotragit commented on #155
On last Friday :-)

Il 03 apr 2017 2:43 PM, "David Baldwynn" <notifications@github.com> ha
scritto:

[2017-04-03 16:13] whitef0x0 commented on #155
@rotragit come on the gitter chat when your free so I can ask you more

[2017-04-03 18:27] rotragit commented on #155
Ok, thank you David. I'll back in office on wednesday and I'll come in
gitter chat. I am from Europe (GMT+1). So, first I'll try a fresh install
again and move on a server and not my PC, so I can contact you from home,
in the evening (forse me ;-) )

Romano

Il 03 apr 2017 6:13 PM, "David Baldwynn" <notifications@github.com> ha
scritto:

@rotragit <https://github.com/rotragit> come on the gitter c

[2017-04-04 07:36] rotragit commented on #155
Hi, I've deleted the project and cloned again the master. I've got much less errors due to previously missing dependencies. Now grunt gives:

Running "concurrent:default" (concurrent) task
Fatal error: watch public/modules/core/views/header.client.view.html ENOSPC
romano@romano-Vostro-3350:~/tellform$

I'm on gitter chat now, anyway.

[2017-04-04 08:19] whitef0x0 commented on #155
@rotragit this means you have run out of space on your server/computer. See https://stackoverflow.com/questions/22475849/node-js-error-enospc

[2017-04-04 08:43] rotragit commented on #155
@whitef0x0

ok,

echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf
&& sudo sysctl -p

solved :-)

...and...now running fine! Thank you!!

On Tue, Apr 4, 2017 at 10:19 AM, David Baldwynn <notifications@github.com>
wrote:

[2017-04-04 11:08] #155 closed

[2017-04-04 17:05] whitef0x0 commented on #155
@rotragit awesome! Let me know if you have any other problems.

[2017-04-04 17:13] whitef0x0 commented on #155
@rotragit Also, if you like TellForm and want to support it donations are always welcome (to fund server and development costs).

You can donate here http://opencollective.com/tellform

[2017-04-04 17:20] pierrecharlesp opened #156 "Ldap authentication"
Hi all,

Congrats for great job.
Any chance to have ldap authentication ?

Many thanks.

[2017-04-04 18:13] statik commented on #156
I don't know what the project direction is on authentication, but I recently started looking at http://www.keycloak.org/ and it seems like passport could probably work with the OpenID support in keycloak.js and then keycloak could broker to an LDAP backend.

[2017-04-04 19:14] whitef0x0 commented on #156
@statik @pierrecharlesp seems like LDAP is for file authentication. Not sure if it would make sense for a web app.

[2017-04-04 19:33] pierrecharlesp commented on #156
The goal is to use tellform on enterprise environment. So forms should be allowed for authenticated users only. Authenticated using open LDAP or active directory.

[2017-04-04 19:46] statik commented on #156
So extending the tellform code to support a passport-openidconnect passport strategy in the tellform authentication config would let you auth against keycloak, and then keycloak can broker the auth against LDAP or AD via federation.
https://github.com/jaredhanson/passport-openidconnect
https://keycloak.gitbooks.io/documentation/securing_apps/topics/oidc/oidc-generic.html
https://keycloak.gitbooks.

[2017-04-04 21:23] whitef0x0 commented on #156
@pierrecharlesp We don't currently have LDAP authentication integrated but I am available for contract work if you need someone to extend it to this for you.

[2017-04-05 12:26] rotragit opened #157 "[nodemon] app crashed - waiting for file changes before starting..."
When I create a form, the first input is OK, but as I try to add a second input of any type, I get:

Segmentation fault (core dumped)
    [nodemon] app crashed - waiting for file changes before starting...

Sometime restarting the server the action is saved, sometime it is not.

Let me know any log or info you need to know....

Thank you!

[2017-04-06 20:07] frju365 opened #158 "Problem with npm install"
Hello,
I've problem with the installation : I did  `npm install` and I get this :
[code]

Could you help me please ? I'm building it on a Raspberry Pi 2 B+ (ARMv7; Raspbian)

[2017-04-06 20:32] whitef0x0 commented on #158
@frju365 What version of npm do you have?

[2017-04-07 02:20] whitef0x0 commented on #157
@rotragit Sounds like a c compuler problem. Did you have an issues with the npm install?

[2017-04-07 02:20] whitef0x0 commented on #157
What OS are you running this on again? And what version of gcc/g++ ?

[2017-04-07 02:23] whitef0x0 commented on #156
@statik we don't have this right now but it would be pretty easy to hack on some rudimentary http authentication that would do the job

[2017-04-07 02:32] statik commented on #156
Thanks! I'm currently working on setting up keycloak and can use a JWT
proxy for auth, I could probably make the proxy set a User header or
something. It'll be a bit before I have some working open source code I can
point to in order to demonstrate the use case.

At that point I'll likely chime in again asking for guidance or trying to
figure out that contract option.

On Thu, Apr 6, 2017 at 22:23

[2017-04-07 06:17] rotragit commented on #157
@whitef0x0 here you have the output of npm install:

romano@romano-Vostro-3350:~/tellform$ npm install

bower extra-resolution      Unnecessary resolution:
angular-ui-select#compiled
Running "jshint:all" (jshint) task

   public/form_modules/forms/base/directives/submit-form.client.directive.js
      5 |jsep.addBinaryOp("contains", 10);
                                    ^ Strings must use single

[2017-04-07 06:19] rotragit commented on #157
Ubuntu 16.04.2 LTS
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

On Fri, Apr 7, 2017 at 8:17 AM, Romano Trampus <romano.trampus@gmail.com>
wrote:

[2017-04-07 16:36] frju365 commented on #158
[code]

[2017-04-08 04:31] whitef0x0 commented on #158
@frju365 you are running a old version of npm and node. You should be using node 5.0.0-6.4.0 with npm 3.x

[2017-04-08 17:01] whitef0x0 commented on #157
@rotragit can you remove the npm_modules folder and then run 'npm install'

[2017-04-08 17:03] whitef0x0 commented on #157
Also can you run npm rebuild and then npm install and see if it works?

What version of npm/nodejs are you running?

[2017-04-09 04:30] coderbec opened #159 "heroku deploy results in empty repo when you try to clone it"
Used heroku deploy button.

Tried to clone onto my computer with heroku cli

"heroku git:clone -a appname"

This clones an empty file with nothing in it

[2017-04-09 05:27] coderbec commented on #72
I'm having this issue with the current version

[2017-04-09 22:34] whitef0x0 commented on #72
@coderbec you have to set your BASE_URL to localhost or whatever url you are using.

[2017-04-09 22:39] whitef0x0 commented on #159
@coderbec Seems like this fixes it. https://stackoverflow.com/questions/36621955/heroku-clone-creates-an-empty-folder/37497276#37497276

[2017-04-09 22:39] #159 closed

[2017-04-09 22:42] whitef0x0 commented on #72
@coderbec in your case, since you are using heroku, your BASE_URL should be set to my_app_name.herokuapp.com. You can set this in the **Config Vars** section of the **Settings** pane .

[2017-04-10 05:23] coderbec commented on #72
it's definitely set

[2017-04-10 23:02] whitef0x0 commented on #72
@coderbec try pulling from the code again. I removed the domain in the config so it shouldn't happen anymore.

[2017-04-10 23:02] #158 closed

[2017-04-10 23:03] whitef0x0 commented on #157
@rotragit seems like the error you are getting is due to a problem with node/npm and not with TellForm itself. Try going through this thread https://github.com/nodejs/node/issues/2763 and seeing if any of the solutions work for you.

[2017-04-10 23:03] #157 closed

[2017-04-11 22:33] whitef0x0 commented on #72
@coderbec it's probably easier if you come on the gitter chat

[2017-04-11 22:33] #156 closed

[2017-04-20 11:57] clkao opened #160 "additional validation option for text and paragraph fields"
* length (min & max)
* regex

[2017-04-20 11:57] clkao opened #161 "additional validation for numberical fields"
* min & max value

[2017-04-20 14:59] iit2011081 opened #162 "Unable to run it locally"
Done both the steps
npm install
bower install
but when I run grunt build it gave me following error.
Loading "gruntfile.js" tasks...ERROR

Warning: Task "build" not found. Use --force to continue.
Aborted due to warnings.

and then I run  node ./scripts/setup.js. It also gave me error
module.js:328
    throw err;
    ^

Error: Cannot find module 'bcrypt'
    at Function.Module._resolveFilename (mo

[2017-04-21 00:41] whitef0x0 commented on #162
@iit2011081 what version of NodeJS and NPM are you running.

Also on what OS?

[2017-04-21 00:46] whitef0x0 commented on #161
@clkao this would be pretty easy to do yourself. All you would have to is extend the [form field model](https://github.com/whitef0x0/tellform/tree/master/app/models), add HTML validation to the text field view [here](https://github.com/whitef0x0/tellform/blob/master/public/form_modules/forms/base/views/directiveViews/field/textfield.html) and add an option to the [edit field modal](https://github.

[2017-04-21 00:47] whitef0x0 commented on #160
@clkao this would be pretty easy to do yourself. All you would have to is extend the [form field model](https://github.com/whitef0x0/tellform/tree/master/app/models), add HTML validation to the text field view [here](https://github.com/whitef0x0/tellform/blob/master/public/form_modules/forms/base/views/directiveViews/field/textfield.html) and add an option to the [edit field modal](https://github.

[2017-04-21 00:47] whitef0x0 commented on #160
If you need help doing this I'd be more than down to answer any questions.

[2017-04-22 02:31] iit2011081 commented on #162
Now some how I am able to run it but it get crashed every time when I create a new field in a form.
 Segmentation fault (core dumped)
 [nodemon] app crashed - waiting for file changes before starting...

[2017-04-22 22:05] whitef0x0 commented on #162
@iit2011081 see this for details on fixing it https://github.com/nodejs/node/issues/2763.

[2017-04-22 22:05] whitef0x0 commented on #162
What version of Node/NPM are you running?

[2017-04-22 23:03] #72 closed

[2017-04-23 17:55] PeterDaveHello opened #164 "Travis CI not exist?"
Looks like both origin **whitef0x0/tellform** [![Build Status](https://travis-ci.org/whitef0x0/tellform.svg?branch=master)](https://travis-ci.org/whitef0x0/tellform) and current **tellform/tellform** [![Build Status](https://travis-ci.org/tellform/tellform.svg?branch=master)](https://travis-ci.org/tellform/tellform) not exist on Travis CI?

[2017-04-23 20:14] whitef0x0 commented on #164
@PeterDaveHello Yea it's weird, I can't actually view my tellform organization on travis-ci.org even though I just granted it access. I'll email Travis-CI and see what's up.

[2017-04-24 02:21] whitef0x0 commented on #164
@PeterDaveHello this has been fixed.

[2017-04-24 02:21] #164 closed

[2017-04-24 02:22] whitef0x0 commented on #162
Closing this issue due to inactivity.

[2017-04-24 02:22] #162 closed

[2017-04-24 09:58] jyothimanchena opened #165 "We are unable to implement the forms"
Hi ,

we are  tried to implement the below forms, this type of forms we are unable to implement in your tellform platform , please help how to implement this type of forms in your platform .please check the below sample form links.
sample form link : https://www.saddleback.edu/uploads/admissions/documents/creditbyexamform.pdf

        https://www.saddleback.edu/uploads/admissions/documents/ab540_a

[2017-04-24 23:02] whitef0x0 commented on #165
Not sure I can really help you with this. Seems like a feature request and not a bug.

If you need support /custom solutions I do offer contracting.

[2017-04-24 23:02] #165 closed

[2017-04-26 08:45] dakshshah96 commented on #161
I'd like to help with this. Since I'm new to tellform, I might need some help with the project though.

[2017-04-26 08:46] dakshshah96 commented on #160
Along with #161, I can help with this one too!

[2017-04-26 20:04] whitef0x0 commented on #161
@dakshshah96 awesome! Have you got your dev environment setup?

[2017-04-26 20:05] whitef0x0 commented on #160
@dakshshah96 👍

[2017-04-29 06:59] iit2011081 commented on #106
@lalop Have you completed the checkbox part ?

[2017-04-30 20:04] whitef0x0 commented on #106
@iit2011081 no this hasn't been started on yet

[2017-05-01 19:14] iit2011081 commented on #106
@whitef0x0 I have installed the application but from some time I am facing one problem. After I logged in it gets refreshed again and again , it is making call to /forms infinitely. When I try to close the tab somehow and open the url in new tab then it shows me signout. I am writing  this thing here because no one is responding on gitter.

[2017-05-02 15:30] whitef0x0 commented on #106
@iit2011081 you need to set the BASE_URL to localhost in the.env file

[2017-05-02 15:40] iit2011081 commented on #106
@whitef0x0 I have BASE_URL = 'http://mydomain.com', because BASE_URL is also used to send forgot password, verification emails. If I use localhost as BASE_URL then verification links will contains localhost and not my domain name.

[2017-05-07 19:08] datdudejibril opened #171 "Can't Delete Question"
#### What's this issue about?

I can't delete a created question.  There's no delete button.

#### Expected behavior

#### Actual behavior

#### Steps to reproduce

#### Environment

#### About the Feature

[2017-05-07 19:11] datdudejibril opened #172 "BUG: Can't Delete Questions"
#### What's this issue about?

I can't delete a created question.  There's no delete button.   See screen shot
http://prntscr.com/f57qkv

#### Expected behavior

Display a delete button

#### Actual behavior

No button was displayed

#### Steps to reproduce

Login to form with questions

#### Environment

Chrome and Firefox

2angular.js:12783 TypeError: Cannot read property 'form_fields' of null

[2017-05-07 19:11] #171 closed

[2017-05-08 20:47] ajmas opened #173 "Feature Request - Multilingual support"
#### What's this issue about?

Feature request to add multi-lingual support.

#### About the Feature

It would be useful to have multi-lingual support in the forms, such that when the form is displayed it displays in the user's language and possibly offers links to alternative languages, for which translations have been provided.

During entering I am thinking:

- Top of form allows to specify whi

[2017-05-08 23:19] barnwell commented on #48
@whitef0x0 What configuration did you change? I'm also getting the error

[2017-05-10 02:13] TheFonix opened #174 "Docker run issue"
#### What's this issue about?
Cant access web GUI once ive ran the docker run command docker run -d -p 80:80 --name tellform tellform/development I changed 3000 to 80 for the port of course

#### Expected behavior
I would be able to access the web GUI

#### Actual behavior
Cant Connect to the web GUI

#### Steps to reproduce
docker run command docker run -d -p 80:80 --name tellform tellform/develo

[2017-05-10 21:16] whitef0x0 commented on #173
We do already have multilingual forms, but they aren't translated on the fly and arr limited to German, English Français and Español.

[2017-05-10 21:18] whitef0x0 commented on #48
@barnwell please open a new issue

[2017-05-17 04:00] DigNZ commented on #174
I've tried Docker and Heroku and installing dependencies and running it directly and none of those deployment options work at the moment as far as I can tell.

[2017-05-17 08:55] TheFonix commented on #174
Glad its not just me!

[2017-05-22 20:52] jkooper commented on #174
Would love to get it running as well for a uni project

[2017-05-23 05:44] whitef0x0 commented on #172
What is your screen resolution?

[2017-05-27 01:20] treed593 commented on #75
Is anyone currently working on this, or is there an ETA?

[2017-05-27 14:25] achedeuzot commented on #174
@TheFonix You need to start a redis & mongodb server and link them to tellform. Because I guess currently tellform can't start without those services.

[2017-05-27 14:41] achedeuzot opened #175 "Can't login/signup to the app with infinite loop"
#### What's this issue about?
I tried running it on my local machine with docker and couldn't use the app easily. I had to find the verification token in mongodb through the CLI and paste it into the interface.
Once I was logged in, there is an infinite loop/redirection between /forms and /signing. I tried it on Google Chrome and Firefox with the same behavior.

#### Expected behavior
I hoped to e

[2017-05-27 14:47] randinfo opened #176 "Traefik port forward"
Hello,

I'm trying to use tellform with traefik but i got some issues.
Here is my conf:

[code]

With this configuration i'm getting this in the console log :
[code]

So it's supossed to be working but it's not i got an "ERR_CONNECTION_CLOSED" error

Have anyone already tried it with traefik ?

Thanks in advance.

[2017-05-28 21:05] jkooper commented on #174
@achedeuzot If you mean this: [Deploy with Docker](https://github.com/tellform/tellform#deploying-with-docker) doesn't work as well

[2017-05-29 07:56] achedeuzot commented on #174
@jkooper You can try what I did in my ticket: https://github.com/tellform/tellform/issues/175

    $ docker run -p 27017:27017 -d --name some-mongo mongo
    $ docker run -p 127.0.0.1:6379:6379 -d --name some-redis redis
    $ docker run --rm -p 3000:3000 --link some-redis:redis-db --link some-mongo:db -e MAILER_EMAIL_ID='mailer_username' -p 80:80 tellform/development

[2017-05-29 18:14] TheFonix commented on #174
That seems to work!

[2017-06-01 13:56] jkooper commented on #174
Awesome, this works. Thanks @achedeuzot

[2017-06-05 22:32] fxlemire commented on #175
Thanks for that last `docker run` command, that fixed it for me :)

To sign in you simply had to replace the `tellform.dev` part of the confirmation link by your local url, in your case `127.0.0.1:3000`

I'm also stuck on that infinite loop problem between `/signin` and `/forms`

If you look at the console, `/forms` shoots a 401 error. I'm guessing it incorrectly assumes that we don't have the rig

[2017-06-07 21:13] TheFonix commented on #174
I feel like this software is just overall broken :/ or at least anything surrounding the docker container is ..

[2017-06-08 16:20] DrakeWitt commented on #175
The solution I found was to just not run it inside a docker container, and manually set it up the other way Kinda sucks that the docker container is broken but oh well. The framework the project is built on (MeanJS) is buggy and I've had headaches dealing with it on other projects.

[2017-06-09 16:51] iit2011081 commented on #106
I changed it to localhost still it is not working ? What could be the possible reason ?

[2017-06-09 18:53] iit2011081 commented on #175
I'm also facing the same issue but I'm not using docker. I changed my .env file and do grunt build still it is taking old environment variables.

[2017-06-19 03:28] rhuang opened #177 "Heroku deploy, SparkPost has no free tier."
#### What's this issue about?
When I try to deploy to Heroku (https://elements.heroku.com/buttons/whitef0x0/tellform), I get the following error: `The plan "undefined" for the addon "sparkpost" does not exist. Please ensure that the plan is spelled correctly.` It appears Sparkpost has no free tier anymore.

#### Expected behavior
I expected Heroku deploy to work with SparkPost having a free tier.

[2017-06-19 05:45] thedavidmeister opened #178 "getting "Not found" 404 style warnings on the example pages and the front page"
#### What's this issue about?

#### Expected behavior

#### Actual behavior

#### Steps to reproduce

#### Environment

#### About the Feature

[2017-06-22 13:43] josx opened #180 "Fix Deprecating warning on running setup"
#### What's this issue about?

When running setup script I go (beacuse node 6):
[code]

#### Steps to reproduce

[code]
At end when ask password.

#### Environment

Node 6.x.x (it is the LTS version)

[2017-06-23 14:49] josx opened #182 "fix csslint error"
#### What's this issue about?
there are multiples errors on css, based on current csslint configuration

[code]

#### Steps to reproduce
[code]

[2017-06-23 14:51] josx opened #183 "fix jshint errors"
#### What's this issue about?
there are multiple jshint errors based on current conf.

[code]
#### Steps to reproduce
[code]

[2017-06-23 18:17] josx opened #185 "Fix html2js warning on parsing html file"
#### What's this issue about?
On running grunt task html2js there is and parse error over an html file.

[code]

#### Steps to reproduce
[code]

[2017-06-23 19:51] josx opened #187 "Sometime setup ends but .env file is not written"
#### What's this issue about?
I run setup script and finnish ok without error but .env file is not written.

#### Expected behavior
.env file with selected content

#### Actual behavior
sometimes dont write .env file

#### Environment
Debian 9, Node 6.9.5

[2017-06-28 14:05] seikonfertrad commented on #88
I'm having the exact same issue now unfortunately.

[2017-06-28 14:14] seikonfertrad opened #191 ""Get started" button leads to impossible signup"
#### What's this issue about?

Whenever I click "Get Started", it takes me to the page "https://admin.tellform.com/#!/signup" where a header tells me "Retry for a live version - This page (https://admin.tellform.com/) is currently offline. However, because the site uses Cloudflare's Always Online™ technology you can continue to surf a snapshot of the site. We will keep checking in the background a

[2017-07-04 00:37] treed593 commented on #177
+1 👍

[2017-07-04 10:53] nikhita opened #193 "Front page and examples give a 502 Bad Gateway"
#### What's this issue about?

- https://tellform.com/ shows a 502 Bad Gateway.
- Clicking on any of the examples here - https://tellform.com/examples - gives a 502 too.

#### Expected behavior

Should load the website properly, not give a 502.

#### Actual behavior

Gives a 502.

#### Steps to reproduce

Visit the links mentioned.

#### Environment

from `cat /etc/os-release`:
I'm on Ubuntu 14.04

[2017-07-05 19:48] OisinOskar commented on #193
Also broken for me.

[2017-07-05 21:56] #182 closed

[2017-07-05 21:57] #187 closed

[2017-07-05 21:57] #185 closed

[2017-07-05 21:57] #183 closed

[2017-07-07 12:56] jhnsntmthy commented on #191
Me too. Heroku doesnt work

[2017-07-09 05:36] whodafly commented on #191
Trying to sign up, doesn't work. Same symptoms.

[2017-07-10 00:48] robwent commented on #193
I just came here to check if the project was dead after visiting the website and seeing broken images, missing ssl certs on example links etc.

I was very surprised to see this much activity on github. Many people may decide not to use the software after visiting the website as it looks abandoned.

[2017-07-11 13:42] josx opened #194 "Template views Translations"
#### What's this issue about?
Some strings in templates are not usiing translation filters.

#### Expected behavior
Those strings must be in i18n files.

#### Actual behavior
Some Strings are hardcoded on templates.

We must replace all template ```strings``` with ```{{ 'strings' | translate }}``` and then update all i18n files with those strings and proper translations

At least i have seen sever

[2017-07-11 14:02] josx commented on #180
Fixed on https://github.com/tellform/tellform/commit/4d4007436808fcff53acd24b256c0df4d3143381

[2017-07-11 14:02] #180 closed

[2017-07-11 14:04] josx opened #195 "why not dist on .gitignore?"
#### What's this issue about?
Is there any reason to not gitignore dist dir ?

[2017-07-12 18:01] whitef0x0 commented on #195
I'll add that as well

[2017-07-12 18:01] #195 closed

[2017-07-12 18:03] whitef0x0 commented on #194
@josx can you get to this yourself?

[2017-07-12 18:17] josx commented on #195
@whitef0x0 great!

[2017-07-12 18:19] josx commented on #194
Sure! @leo-orellana from our team will do a PR on this.

[2017-07-14 20:07] leo-orellana opened #196 "Translations on controllers and services"
#### What's this issue about?
Some strings in controllers are not usiing translation filters.

#### Expected behavior
Those strings must be in i18n files.

#### Actual behavior
Some Strings are hardcoded on controllers and services.

[2017-07-14 20:10] leo-orellana opened #197 "Translations on backend"
#### What's this issue about?
Some strings in backend are not usiing translation filters.

#### Expected behavior
Those strings must be in i18n files.

#### Actual behavior
Some Strings are hardcoded on backend.
Ex:
message = 'Something went wrong';
res.status(200).send('Form submission successfully saved');

[2017-07-14 21:41] #194 closed

[2017-07-14 21:43] whitef0x0 commented on #193
@robwent it's still active, but sadly currently I am not able to update the server as I've been swamped with work. I'll try to get to in next weekend

[2017-07-14 21:44] whitef0x0 commented on #178
@thedavidmeister sadly currently I am not able to fix things as I've been swamped with work. I'll try to get to in next weekend

[2017-07-14 21:44] whitef0x0 commented on #191
@whodafly @jhnsntmthy @seikonfertrad sadly currently I am not able to fix things as I've been swamped with work. I'll try to get to in next weekend

[2017-07-14 21:45] whitef0x0 commented on #175
@achedeuzot @fxlemire @DrakeWitt @iit2011081  sadly currently I am not able to fix things as I've been swamped with work in the past few weeks. However I'll try to get to your issues by next weekend.

[2017-07-14 21:46] whitef0x0 commented on #196
Closing this as I've merged the PR.

[2017-07-14 23:13] #193 closed

[2017-07-14 23:13] #178 closed

[2017-07-14 23:13] #191 closed

[2017-07-14 23:13] whitef0x0 commented on #191
This has been fixed

[2017-07-14 23:14] whitef0x0 commented on #177
@rhuang I'll try to get this by next weekend.

[2017-07-14 23:15] whitef0x0 commented on #174
@TheFonix sorry to hear that. I'll try to get the documentation and everything up to date in a few weeks time.

[2017-07-14 23:15] #172 closed

[2017-07-14 23:36] josx commented on #197
I will open this issue, becasue on frontend we show several string, from backend. An the backend still no have any library to translate string. Some one on our team https://github.com/Cambalab/ will be doing this.

[2017-07-14 23:38] josx commented on #196
@whitef0x0 There are more strings we need to translate on services (like radiobuttons, input text, etc).

[2017-07-16 21:28] vaMuchenje opened #200 "Installation fails at `npm install`"
#### What's this issue about?

The installation instructions are resulting in an error message. When I try to install dependencies with:
`npm install` I get an error message.

#### Expected behavior

It was supposed to install the dependencies normally.

#### Actual behavior

An error message is returned:
[code]

#### Steps to reproduce

Just run `npm install`

#### Environment

I have Ubuntu 17.0

[2017-07-17 06:55] elric72 opened #201 "Manage contact list"
#### About the Feature

Is it plan to manage contact list to send forms to user and manage who fill the forms ?

[2017-07-17 19:20] whitef0x0 commented on #196
@josx my bad. I didn't look through it carefully enough

[2017-07-17 19:21] whitef0x0 commented on #200
@vaMuchenje it won't work with the latest version of nodeJS. See package.json for the compatible version.

[2017-07-19 13:58] h133gqa commented on #174
I followed the the documentation but ended here: docker: Error response from daemon: oci runtime error: container_linux.go:262: starting container process caused "exec: \"-e\": executable file not found in $PATH".

[2017-07-19 19:04] whitef0x0 commented on #197
@josx you can translate on the backend as well. I'll try to find an example for you.

[2017-07-21 00:45] #177 closed

[2017-07-21 00:46] whitef0x0 commented on #177
This has been fixed by moving to SendGrid for the Heroku Deploy Button.

[2017-07-21 00:46] whitef0x0 commented on #176
@randinfo I haven't tried using it with traefik. The demo server is running off a NGINX reverse proxy.

[2017-07-21 00:59] whitef0x0 commented on #175
@achedeuzot @fxlemire @DrakeWitt @iit2011081 I've updated the docker instructions and tested in on my local machine. If you have any other problems, let me know.

[2017-07-21 00:59] #175 closed

[2017-07-21 00:59] #200 closed

[2017-07-21 00:59] whitef0x0 commented on #174
@h133gqa I've updated the documentation and tested it on my local machine and it seems to be working now for the docker installation.

[2017-07-21 01:00] whitef0x0 commented on #201
@elric72 I'm pretty busy right now but if this is something you're interested in seeing I always appreciate PRs :)

[2017-07-21 01:05] #174 closed

[2017-07-21 12:40] h133gqa opened #202 "Couldn't complete registration due to errors: Path `username` is required."
#### What's this issue about?
User-reg failed

[code]

#### Expected behavior
Finish user registration

#### Actual behavior

#### Steps to reproduce
We don't use localhost, because we wanted to test on servers. We adapted the docker run "BASE_URL=localhost" with our used URL.

#### Environment
Docker on Ubuntu 16.04 LTS

[2017-07-21 23:49] whitef0x0 commented on #202
@h133gqa Just to clarify, you are getting this error after submitting signup in the web app?

[2017-07-21 23:53] whitef0x0 commented on #196
@josx any update on your teams progress on this?

[2017-07-25 15:38] petrk94 opened #203 "mysql or mariadb instead mongodb"
Hello,

does it exist a way to use mysql or mariaDB instead of mongodb for tellform?
thanks

[2017-07-25 17:18] whitef0x0 commented on #203
@petrk94 Currently not as we rely on Mongoose for pre/post hooks

[2017-07-25 22:23] #203 closed

[2017-07-25 22:23] whitef0x0 commented on #202
@h133gqa this has been fixed

[2017-07-26 13:42] josx commented on #196
i was a week out on vacations, today i will give you an update on advance

[2017-07-26 20:41] whitef0x0 commented on #196
@josx cool. If you have any questions or anything don't hesitate to drop me an email (which you can find in my profile).

[2017-07-27 02:46] #176 closed

[2017-07-27 10:29] leonardloo opened #204 "View forms broken"
View forms seem to be broken. The examples on tellform.com work once in a while, but the self-hosted Tellform (Docker) does not work. I get a 401 error whenever I view forms.

May I ask what's going on?

[2017-07-27 16:27] whitef0x0 commented on #204
@leonardloo Sorry I was in the middle of maintenance on tellform.com which is why they weren't working 100% of the time.

What url/domain are you trying to access your self-hosted instance from? The 401 error occurs whenever the cookie domain (i.e. BASE_URL) does not match the domain you are trying to access from.

[2017-07-28 03:58] leonardloo commented on #204
I'm hosting on localhost:3000. I ran it using docker instructions provided on tellform's README. When I created a form it's sharable url has the username as a subdomain, i.e. leonardloo.localhost:3000/#!/forms/<form_id> which results in a 401.

When I removed the subdomain and changed it to localhost:3000, this error went away. How do I fix this?

[2017-07-28 04:01] leonardloo commented on #204
Another question: Why do I have to provide MAILER credentials? What are we using MAILER here for? When I ran the docker command as it is without filling in MAILER credentials, tellforms still managed to run locally with no issues. Why is that so?

[2017-07-28 04:39] whitef0x0 commented on #204
@leonardloo MAILER credentials are necessary if you want others to be able to signup

[2017-07-28 04:47] whitef0x0 commented on #204
@leonardloo If you run this "docker run --rm -p 3000:3000 --link some-redis:redis-db --link some-mongo:db -e "SUBDOMAINS_DISABLED=TRUE" -e "DISABLE_CLUSTER_MODE=TRUE" -e "MAILER_EMAIL_ID=<YourEmailAPI_ID>" -e "MAILER_FROM=<noreply@yourdomain.com>" -e "MAILER_SERVICE_PROVIDER=<YourEmailAPIProvider>"  -e "MAILER_PASSWORD=<YourAPIKey>" -e "BASE_URL=localhost" -p 80:80 tellform/development" it will wo

[2017-07-28 04:48] whitef0x0 commented on #204
Currently custom subdomains per user don't work with localhost as you need an actual domain. Forgot to add that to the docker instructions. Sorry about that!

[2017-07-28 08:36] leonardloo commented on #204
No problem. Thanks!

[2017-07-28 08:37] leonardloo opened #205 "Dockerfile build error"
Is the Dockerfile provided able to run without any modification?

When I ran `docker build -t tellform -f ./Dockerfile .` I ended up with an error at Step 17/25:

[code]

This resulted in a none:none Docker image being built.

[2017-07-28 08:43] #205 closed

[2017-07-28 09:11] leonardloo commented on #204
So now when I cloned the repo, built it locally with the Dockerfile, `docker build -t tellform -f ./Dockerfile .` and ran it `docker run -it tellform` I am getting the following error:

[code]

I already did a `pkill node` and there are no processes running on 20523. Why is this happening?

[2017-07-28 09:54] h133gqa commented on #202
thx, will try!

[2017-07-28 13:19] josx commented on #204
@whitef0x0 same here, someone knows what is happening?

[2017-07-28 13:36] josx commented on #204
Here on code, https://github.com/tellform/tellform/search?utf8=%E2%9C%93&q=20523&type=
It is the port for using socket.io, so i think we can use another port running with the env var.

here use process.env.SOCKET_PORT
https://github.com/tellform/tellform/blob/b29b0a9e8256c5107ad730d0524e51d3d26da93d/config/env/all.js

Here is hardcoded:
https://github.com/tellform/tellform/blob/d07c1c28ce37919699d

[2017-07-28 20:05] #204 closed

[2017-07-28 20:15] whitef0x0 commented on #204
@leonardloo the recent merge should fix this

[2017-07-29 00:21] #196 closed

[2017-07-29 01:04] #202 closed

[2017-07-31 01:57] leonardloo opened #208 "Forked master branch, unable to sign up for new account when Docker ran locally"
I forked the master branch, built the image locally: `docker build -t tellform -f ./Dockerfile .` then ran it like so:

[code]

I ended up getting this error when I try to sign up a new account:
[code]

Why is that the case?

[2017-07-31 01:58] leonardloo commented on #208
Also, should I change the `ENV BASE_URL` in the Dockerfile from `tellform.dev` to `localhost`?

[2017-07-31 16:58] whitef0x0 commented on #208
@leonardo your .env file should have (as a bare minimum)

BASE_URL
MAILER_EMAIL_ID
MAILER_FROM
MAILER_PASSWORD

[2017-07-31 20:43] whitef0x0 opened #209 "Add more descriptive error messages for sign up page."
Currently we only show generic error message "User already exists" for errors in the signup page. We should expand this to give more context to a user about what is wrong (i.e. username or email is already taken).

[2017-07-31 20:45] whitef0x0 opened #210 "Add error handling for verify link"
Currently when an error occurs with the user verification process, it just shows the "Verification link is expired or invalid" page.

We should add an error page that can handle more errors and gives the user more context into what went wrong.

[2017-07-31 20:45] whitef0x0 commented on #210
**Off topic note**: Also we should make the user verification more robust as we having been getting a lot of bug reports surrounding this feature

[2017-08-01 00:16] #173 closed

[2017-08-01 00:16] whitef0x0 commented on #197
@josx can I close this now?

[2017-08-01 12:19] josx commented on #197
just give me one more week, i will take a look on the code to be sure about strings that need to be translated (if there are, i will do the translatation).

[2017-08-01 23:26] whitef0x0 commented on #197
@josx might be worth looking into adding a linter or something to check untranslated strings. I'll look around tmrw and see if there's any easy way to do this.

[2017-08-07 02:47] leonardloo opened #213 "ui-sortable not updating model"
`ui-sortable` is not updating the model whenever form fields are rearranged because `ng-model` is not defined in `edit-form.client.view.html`.

However, when I try to define `ng-model`, the code breaks:

[code]

[2017-08-07 10:07] #213 closed

[2017-08-10 14:34] muhfred opened #216 "Handle question shortcuts if there are more than 9 choices."
#### What's this issue about?

when answering a question of multiple choice question,  If there are more than 9 questions, the shortcut (10) doesn't work, cause the software thinks i pressed (1) first choice. Please handle this issue.

#### Expected behavior

a special keyboard shortcut is generated to choose an answer choice bigger than 9.
#### Actual behavior

when choosing a choice number 10 of

[2017-08-10 19:41] whitef0x0 commented on #216
Hey muhfred. I'll look into this.

We might have to change from using numbers to letters in this case as its hard to differentiate between a user pressing 1 and 0 for 10 and pressing 1, then 0.

[2017-08-11 13:07] vr00n opened #217 "Delete field button disappears on admin.tellform.com"
#### What's this issue about?
Unable to delete fields.
![image](https://user-images.githubusercontent.com/4397663/29214086-f39ad660-7e73-11e7-9a1b-b6248006b0cd.png)

#### Expected behavior
The appearance of **Delete** buttons next individual field names.

See here for an example of a DELETE BUTTON next to a Question.
![image](https://user-images.githubusercontent.com/4397663/29232287-dda9bf3e-7eb8

[2017-08-11 21:27] vr00n opened #218 "Bulk add options for Dropdown field"
#### What's this issue about?

Would like to copy/paste options for inclusion into the dropdown and multiple-choice fields.

#### About the Feature
When adding a field with several possible options (`multiple-choice or dropdown`), it would be useful to copy/paste from a list of pre-existing choices.
So instead of constantly clickin on "add option" button as per below, would be include to have a bu

[2017-08-12 17:23] TheFonix opened #219 "Issue using the Docker Container"
#### What's this issue about?
Docker container being unusable

#### Expected behavior
The page should load successfully without any issues. Once the login page has been successfully passed

#### Actual behavior
Once logged in the container seem to spam
[code]
Unsure as to what is causing the 401 as the login seemed successful
#### Steps to reproduce
Run the docker setup from the main Tellform dock

[2017-08-14 17:47] whitef0x0 commented on #219
@TheFonix have you set the BASE_URL to the domain you are using to access your TellForm instance?

[2017-08-14 17:48] whitef0x0 commented on #218
@vr00n this is in the works

[2017-08-14 18:21] vr00n commented on #218
@whitef0x0 great! proceed to close this?

[2017-08-14 20:40] James9074 opened #220 "Email in a restricted env / Disable email but allow signups"
#### What's this issue about?

In a restricted environment, I can't access mail APIs, and thus can't use this application beyond a single admin account.

#### About the Feature

I'd like to see the ability to do signup without email confirmation, or the ability to use SMTP directly. That, or some way to integrate with an opensource mail api alternative that I an run internally, like Postal.

I'm a

[2017-08-14 22:47] #218 closed

[2017-08-14 22:56] whitef0x0 commented on #220
@James9074 updated the README with a link to valid MAILER_SERVICE_PROVIDER's.

For your use case, PR's are always welcome.

[2017-08-14 23:27] James9074 commented on #220
Nice - I've got to add in custom service details for this anyways so I'll make sure to do a PR. Would you be okay with new env vars called `MAILER_SMTP_HOST` / `MAILER_SMTP_PORT` / etc? If they were detected I'd take those over the MAILER_SERVICE_PROVIDER and configure the connection manually [here](https://github.com/tellform/tellform/blob/4d4007436808fcff53acd24b256c0df4d3143381/app/models/user.

[2017-08-16 01:07] James9074 commented on #219
@whitef0x0 I noticed two things with the Dockerfile:
- That env vars set are overwritten with the .env file included with the image build (which is bad practice, the image isn't very reusable at that point, and I have to build the container with my creds hardcoded in which _isn't secure at all_).
- That [process.yml](https://github.com/tellform/tellform/blob/master/Dockerfile-production#L69) isn't

[2017-08-16 03:28] whitef0x0 commented on #219
@James9074 I agree that the .env files shouldn't be in the docker image. Maybe we should move to something using docker-compose instead as the default for using TellForm with docker (see [this]( https://www.ctl.io/developers/blog/post/tutorial-protecting-sensitive-info-docker) article for more in-depth look)

About pm2, I agree that we should probably include the process.yml file in the image to a

[2017-08-16 03:51] whitef0x0 commented on #217
I'll be getting to this. In the backlog right now.

[2017-08-16 05:20] James9074 commented on #219
@whitef0x0 Perfect, I'll throw a PR up later this week with some docker enhancements then. I use docker-compose for about everything I do these days (_...and I happen to work in infosec securing containers day to day_).

If you really get into it, you'll want to use [secrets](http://rancher.com/docs/rancher/v1.6/en/cattle/secrets/) and secrets management tools like [Vault](https://www.vaultproject

[2017-08-16 05:26] whitef0x0 commented on #219
@James9074 Fixing the BASE_URL is a bucket list item for me, just haven't had time to get around to it.

A fix to it would be greatly appreciated! (I could send some stickers your way if you end up doing it).

[2017-08-17 10:08] leonardloo commented on #219
Could I ask a question - do we have to run `npm install` locally before building the docker image in production? I realise that if I don't I'm getting `angular not found` errors.

[2017-08-17 13:52] James9074 commented on #219
Bower install is the missing command for docker builds. It provides the
front end libraries.

On Thu, Aug 17, 2017, 6:08 AM Leonard Loo <notifications@github.com> wrote:

[2017-08-17 15:11] leonardloo commented on #219
@James9074 Does this mean I should run `bower install` first then build from the Dockerfile-production?

[2017-08-18 02:51] James9074 commented on #219
@leonardloo Yup, you'll want to bower install and then docker build, which will copy the front end libraries into the container. Alternatively you can add bower to the dockerfile and install them there (useful if you're doing CI).

[2017-08-18 02:51] #220 closed

[2017-08-18 06:11] whitef0x0 commented on #219
@James9074 I should probably fix this

[2017-08-18 15:39] James9074 commented on #219
Pretty sure `RUN bower install` in the Docekrfile will do the job there, I just haven't had a chance to test that myself.

[2017-08-18 20:30] whitef0x0 commented on #219
@James9074 this should not be an issue though, as the postinstall for npm install run bower install (see line 23 here https://github.com/tellform/tellform/blob/master/package.json)

[2017-08-18 20:32] whitef0x0 commented on #219
@James9074 seems like the issue might be related to this https://github.com/nodejs/docker-node/issues/185

[2017-08-18 22:00] James9074 commented on #219
Hmm, I'll take a look this weekend and see what's going on maybe set up
auto builds for docker hub as well

On Fri, Aug 18, 2017, 4:32 PM David Baldwynn <notifications@github.com>
wrote:

[2017-08-18 23:53] whitef0x0 commented on #219
@James9074 Cool. I can give you admin access to the tellform docker hub account if you need it. Just email me your docker hub username to team at tellform.com

[2017-08-21 10:55] leonardloo opened #222 "deleting dist/ folder and running grunt build results in empty app"
I realized `dist` is in `.gitignore` but you have a `dist` folder in your repo. When I delete the `dist` folder then re-run grunt build, then build and run the docker container, I get a completely blank page for my app, with no errors printed to the console.

Why is that the case?

[2017-08-21 12:53] vamsipkris commented on #219
I cannot even login/signup using the docker image. I have followed the instructions written [here](https://www.tellform.com/selfhosted), and I get the following errors

Couldn't complete registration due to errors:
[object Object]

Could you please let me know how to fix this, and signup and login? I have used the following command for starting the docker

docker run --rm -p 3000:3000 --link somer

[2017-08-22 10:44] alexsegura commented on #219
Hi, not sure this is related, but Docker image on Docker Hub looks old (last updated 9 months ago): for example it doesn't contain the `create_admin.js` script.
Could you please update the image on Docker Hub?

I tried this is `docker-compose.yml` to build the latest image with no luck (I commented the line which copies `.env` file)

[code]

[2017-08-23 01:31] leonardloo commented on #222
Realised that the problem is due to `grunt build` failing at `closure-compiler` command, thus it doesn't rebuild the vendor files. Attempting to fix this, off the bat it seems java is not installed inside the Docker image.

[2017-08-28 19:52] mdumrauf commented on #126
@whitef0x0 do you have any plans on implementing this feature in the short or mid term? Need any help?

[2017-09-04 12:47] whitef0x0 commented on #222
@leonardloo Sorry about that. I'll try to install java in the docker image first.

[2017-09-04 12:49] whitef0x0 commented on #219
@vamsipkris you need to add a valid SMTP service and change MAILER_PASSWORD, MAILER_EMAIL_ID and MAILER_FROM to get it to work

[2017-09-07 05:37] whitef0x0 commented on #126
@mdumrauf don't have the time right now to implement this feature but I'll support you in anyway I can if you decide to take it on

[2017-09-14 13:46] jliliamen opened #223 "Add email notifications"
Tellform would be complete with email notifications. Thanks!

[2017-09-17 14:06] eduoda commented on #202
I got the same error using the current docker image. I take a look at the singup request, it doesn't send the username parameter.

[2017-09-22 05:56] itaditya commented on #223
I would like to work on this

[2017-09-23 02:13] marykatefain commented on #223
I could also use this! I want to use Tellform on a project but email notifications are a must. Thank you!

[2017-09-23 05:22] whitef0x0 commented on #223
@itaditya Let me know if you need any help getting started

[2017-09-23 16:08] alexgleason commented on #223
It looks like this project is *already* configured to send out email. It's just a matter of calling nodemailer's mail function in the right place and with a relevant email message. In fact, I see that happening already [here](https://github.com/tellform/tellform/blob/e6b9f83494c2c004a5c7253d86b8baf92bf6c8f2/app/controllers/users/users.password.server.controller.js#L84) for account confirmations, s

[2017-09-25 19:50] norpol opened #226 "Don't leak user e-mail on reset"
#### What's this issue about?
If you go to https://admin.tellform.com/#!/password/forgot and provide a valid username, the email address of the user is getting revealed.

#### Expected behavior
Revealing no mail address or an obviouscated one is per-se standard for nearly everywhere. I would suggest not returning any email-address, or if insited `ada@ida.pro` should become `a******@***.pro`.

Than

[2017-10-02 16:40] whitef0x0 commented on #223
@jliliamen I can help you with the front-end and mongoose stuff if you want to give it a shot.

[2017-10-06 04:56] whitef0x0 commented on #223
@jliliamen @itaditya @marykatefain @alexgleason @dlackty I have created a PR for this feature https://github.com/tellform/tellform/pull/230.

From what I understand, what is meant by email notifications is a simple email that is send whenever a form is submitted?

Can you give me an example of how this email should be formatted and should it contain the submission values as well?

[2017-10-06 05:34] whitef0x0 commented on #226
This has been fixed https://github.com/tellform/tellform/pull/231

[2017-10-06 05:37] #226 closed

[2017-10-06 05:37] #217 closed

[2017-10-06 05:39] #216 closed

[2017-10-06 05:40] whitef0x0 opened #232 "Switch from numeric to alphabetical shortcuts for multiple choice"
What's this issue about?

When answering a question of multiple choice question, If there are more than 9 questions, the shortcut (10) doesn't work, cause the software thinks i pressed (1) first choice. We should switch to alphabetical shortcuts.

Expected behavior

An alphabetical keyboard shortcut is generated to choose an answer choice bigger than 9.

Actual behavior

when choosing a choice num

[2017-10-06 05:41] whitef0x0 commented on #197
@josx any updates?

[2017-10-06 05:41] #20 closed

[2017-10-06 05:43] whitef0x0 opened #233 "Implement shortids for user forms"
#### What's this issue about?
We should implement shortids (see this https://www.npmjs.com/package/shortid) for mongodb _ids to make our urls shorter and easier to read.

#### About the Feature
We should implement shortids for urls so that form urls are shorter. Need to change app/controllers/forms.controller.server.js and app/models/forms.model.server.js to get this to work.

[2017-10-06 08:32] jyotman commented on #233
Hi, can I take this up?

From what I understand - we'll be replacing the default `ObjectId` type that Mongo produces for the `_id` field for form documents with the `String` type generated using shortid module.

[2017-10-06 12:43] jliliamen commented on #223
What I meant by email notification is that tellform should send the creator of the form an email telling that a user has used an email.  Perhaps something like this
Subject: New TellForm Contact (Email of the person who used the form)
Body: Answers in the form. I don't have any preference here.

[2017-10-06 12:46] marykatefain commented on #223
I agree with @jliliamen, that's exactly the same thing I'm looking for. Thanks!

[2017-10-06 17:27] josx commented on #197
Sorry but i am busy right now, if you want close it by now.

[2017-10-06 22:36] whitef0x0 opened #235 "Improvement Installation Documentation"
#### What's this issue about?
Installation documentation is currently causing a lot of problems for users. We should add comprehensive documentation for Docker and non-Docker installations on Mac, Windows and Linux platforms.

This should include setting up the environment and clarification on what the user needs to set the environment variables to (these are set in the .env file).

[2017-10-07 07:36] whitef0x0 commented on #223
@jliliamen is it ok if the email of the person who used the form is only in the body and not in the subject?

[2017-10-07 07:37] whitef0x0 commented on #223
@marykatefain

[2017-10-07 14:25] marykatefain commented on #223
@whitef0x0 yeah that would be fine for me!

[2017-10-09 22:13] SaMnCo opened #236 "Installation - default credentials?"
Hi team!

#### What's this issue about?
I am deploying on Kubernetes using a quick and dirty Helm chart. I can get to the login page, logs are pretty good looking even if I lose Redis for a little while systematically.
However, I cannot login.

I am probably doing it wrong, or missing the point in the docs, but I cannot figure out what to do next. Any hint?

#### Expected behavior
I was expecting

[2017-10-10 10:05] Polynomendivision opened #237 "issues with npm and ELIFECYCLE"
#### What's this issue about?
I tried to install Tellform locally. But while redis and mongo run smootly, tellform exits with code 1. I updated as much as possible. docker-compose build runs smootly.

#### Expected behavior
Running tellform.

#### Actual behavior
Console output:

[code]

#### Steps to reproduce
Used docker-compose up as I followed your instructions here: [https://github.com/tellfo

[2017-10-10 21:45] whitef0x0 commented on #237
@Polynomendivision I just updated the package.json to be less strict. Try git pull and see if it works now.

[2017-10-10 21:53] whitef0x0 commented on #236
@SaMnCo First off, you can remove the "username" field from your .env file. Secondly what is the output.

Secondly your .env file should use "=" not "=". Thirdly, you don't want to have "{}" in your .env file as they won't be treated like JS Objects, but instead as plain strings. If you change your .env file to look like the code below it *should* work.

[code]

[2017-10-11 06:29] SaMnCo commented on #236
Hello,

Thanks for coming back to me. Actually, this is not "literally" how I
configure it. What I shared is a yaml file I use to set the ENV in the
dockerfile, hence the : and {} for empty fields.

I will remove the username one and try it out again, but I suspect it won't
change much since it must be ignored already.

Not sure what you mean by "what is the output". Would you like a log trail?

O

[2017-10-11 07:18] whitef0x0 commented on #236
@SaMnCo I fixed a bug related to this. If you pull the most recent master it should create an admin account. Yea can I see a log trail of some sort or at least the stdout?

[2017-10-11 07:24] whitef0x0 commented on #236
If you have a chance can you also run this in your mongoshell and give me the output?

[code]

[2017-10-11 13:14] Polynomendivision commented on #237
I still get the same error. The from `check-node-version --package` displayed npm and Node versions are not the same as my globally installed ones. It looks like `docker-compose build` doesn't include `node_modules` folder and doesn't get the right version.

If that is truly the issue, then [David Chua](http://dchua.com/2016/02/07/getting-npm-packages-to-be-installed-with-docker-compose/) provides

[2017-10-11 14:26] tvvignesh opened #238 "Angular Material with Tellform"
I am looking to implement tellform using angular material (https://material.angularjs.org/latest/)

What portions of the project will I need to change to move from bootstrap to material?

Thanks in advance.

[2017-10-11 19:13] whitef0x0 commented on #238
@tvvignesh this will be pretty hard to do as we use bootstrap and bootstrap components just about everywhere.

[2017-10-11 21:21] tvvignesh commented on #238
@whitef0x0 My boss is pretty determined to do it and no is not going to be an answer for him. So, just in case I have to do it, will I have to redesign the entire UI with new tags all over again? If yes, what will happen to the libraries you use? Does it depend on bootstrap?

Sorry for bothering you. Just a poor developer out here :-(

[2017-10-11 23:14] whitef0x0 commented on #238
@tvvignesh probably easier to just add a css to "style" it in the Material style then actually remove bootstrap.

[2017-10-12 06:43] tvvignesh commented on #238
@whitef0x0 Tried that. Its breaking a lot and our existing project uses material. Never mind. Sorry to bother you. Will try it out and if any luck, will let you know. Have to complete it this week btw.

[2017-10-12 06:43] #238 closed

[2017-10-14 00:06] SoreGums commented on #133
What is the goal and end result of "form data is encrypted before submitting to server to then decrypt and show the information to the person needing the information?"

like why is that a thing, surely tls is enough to secure the information from the client to the server to prevent eavesdropping?

What is the use case? I'm genuinely interested, cheers!

[2017-10-14 05:36] James9074 commented on #133
The idea is likely to enforce encrypted data at rest. I assume the user's key would be stored in a separate store.

[2017-10-14 05:45] whitef0x0 commented on #236
@SaMnCo did you end up getting this sorted?

[2017-10-14 12:17] SaMnCo commented on #236
Sorry didn't have time, on my task list this week. I had a crazy bad
network connection, couldn't even upload my docker image :(

I'll keep you posted.

On Oct 14, 2017 07:45, "David Baldwynn" <notifications@github.com> wrote:

[2017-10-17 16:53] alexgleason opened #239 "Editing and saving a field makes it duplicated"
Tested on FireFox and Chromium.

1. Edit a field
2. Click save
3. The field now also displays at the very bottom

Here's an example. I edited "ayy" and clicked save. Now it also appears at the very bottom.
![screenshot from 2017-10-17 12 51 48](https://user-images.githubusercontent.com/3639540/31677814-fac02436-b339-11e7-9ccd-183ec8c3f073.png)

[2017-10-17 16:57] alexgleason opened #240 "Form elements are poorly styled in UI"
This one was the first one I noticed. I think we can just put `max-width: 100%;` on input, textarea, etc. It won't make any existing elements larger, but it will shrink ones that overflow to fit in their container.
![screenshot from 2017-10-17 12 54 21](https://user-images.githubusercontent.com/3639540/31677928-6bf0d8c6-b33a-11e7-856f-7ae10ef2b1ec.png)

Then there's this one below. Not sure what's

[2017-10-17 17:02] alexgleason opened #241 "Logic Jump is not reflected in UI after saving"
1. Configure a logic jump
2. It works!
3. Edit the form field
4. The logic jump is not displayed
5. It continues to work

From what I can tell, the functionality works. But when you go to edit a form element it doesn't display the logic jump.

Here's a form with a logic jump that's working, but not displayed:

![screenshot from 2017-10-17 13 01 01](https://user-images.githubusercontent.com/3639540

[2017-10-17 17:03] alexgleason commented on #239
I'm getting this in my console:

[2017-10-19 00:47] whitef0x0 commented on #241
This has been fixed. I'll look into adding an icon or something that a logic jump is active in a week or two.

[2017-10-19 00:47] #241 closed

[2017-10-19 00:48] whitef0x0 commented on #239
This has been fixed as well.

[2017-10-19 00:48] #239 closed

[2017-10-20 15:12] SaMnCo commented on #236
OK just did a new deploy with your latest Dockerfile. I did a few changes as K8s does not like to create files at the root of a directory so I am converting the ENV variable into the .env at startup.

From the logs perspective it seems to be OK. But I get a blank page and in the console:

[code]

Effectively, if I look into the code post deployment:

[code]
does not return anything. Is that normal

[2017-10-25 10:55] #237 closed

[2017-10-26 13:47] modiplus91 commented on #106
@whitef0x0  is your checkbox field function ready
or can you please tell that how to add new
form field type.

[2017-10-26 15:34] whitef0x0 commented on #236
@SaMnCo I just made a docker-compose file you can use if you want that sets up nginx and tellform. If you don't go that route, I would look at the Dockerfile in the docker branch as thats the most recent Docker file that has been verified to work.

[2017-10-27 07:51] modiplus91 opened #244 "Checkbox field requires"
#### What's this issue about?

For a multiple choice option checkbox is mandatory. How to implement checkbox in this repo.

#### Expected behavior
Currently in multiple choice option it is only radio button to select one. this work can be done by dropdown also but is a qustion is been asked for muliple choices then ?
For this in Multiple choice only we can give a button to choose multiple or singl

[2017-10-30 08:52] pranavm27 commented on #106
Hi Guys.

For adding multiple select options in TellForms, I changed the radio button to a checkbox.
removed `ng-change="$root.nextField()` and added a Button to go forward by calling `nextField()`
in views/field/radio.html

## issue
On checking any one of the checkboxes in the options list all the checkbox get checked an one unchecking any one of the checkboxes all the checkbox all the checkbox g

[2017-10-30 16:24] barnwell opened #250 "Cannot Deploy using the Heroku Button"
#### What's this issue about?
Tellform does not install when using the Heroku Deploy button default configuration.

#### Expected behavior
TellForm should install to ```my-app```.herokuapp.com

#### Actual behavior
This error shows up while building
[code]

#### Steps to reproduce

Click the heroku deploy button
Change the base URL and Socket URL to ```my-app```.herokuapp.com
Click deploy

#### En

[2017-11-01 16:07] VerHext opened #251 "Failed to create user account"
#### What's this issue about?
I try in my install version via docker to create a user account. If this fails due to the following error message:

[code]
#### Expected behavior
I wanted to enter a user account in the db. :)

#### Steps to reproduce
Create a user account via web panal...

#### Environment
I use this on Ubuntu 16.04 with the docker container from https://tellform.com/install_docker

[2017-11-02 07:17] whitef0x0 commented on #250
@barnwell I'll look into to it by end of next week!

[2017-11-06 16:51] digitalronin opened #256 "Installation fails at `node ./scripts/setup.js`"
#### What's this issue about?

Installing from scratch, the installation fails when trying to run `node ./scripts/setup.js`

I could get a bit further by setting the env vars manually, and fixing a couple of errors with the `gruntfile.js` (commenting out the linter and changing `--debug` to `--inspect` for the node parameters), but I thought I should raise this as an issue so that it can be fixed.

[2017-11-06 21:47] whitef0x0 commented on #256
@digitalronin This PR https://github.com/tellform/tellform/pull/257 fixes the issue

[2017-11-06 21:58] #256 closed

[2017-11-06 22:12] whitef0x0 commented on #250
@barnwell this has been fixed and pushed to master.

[2017-11-06 22:12] #250 closed

[2017-11-06 22:16] whitef0x0 commented on #244
@modiplus91 to implement a checkbox field, you'll need to add a fieldType to the validFieldTypes array in app/libs/constants.js and add a field template to public/form_modules/views/directiveViews/fields/

[2017-11-06 22:16] #236 closed

[2017-11-06 22:17] whitef0x0 commented on #222
This has been fixed.

[2017-11-06 22:17] #222 closed

[2017-11-06 22:18] whitef0x0 commented on #201
This is a duplicate of https://github.com/tellform/tellform/issues/223 and will therefore be closed.

[2017-11-06 22:18] #201 closed

[2017-11-06 22:18] #210 closed

[2017-11-06 22:19] whitef0x0 commented on #197
This has been fixed and completed in the 2.20 release.

[2017-11-06 22:19] #197 closed

[2017-11-06 22:36] whitef0x0 commented on #251
@VerHext I've updated the docker installation instructions that now use docker-compose. Try it out and let me know if you have any problems with it.

[2017-11-06 22:36] #251 closed

[2017-11-09 10:15] SaMnCo commented on #236
@whitef0x0 can you check about your compose file? I can't find it in any branch. I found one in a very old commit but nothing more.

Thanks

[2017-11-10 02:38] YellowOnion opened #258 "Quick Lists / Dropdown creation."
#### What's this issue about?

I want to create a dropdown to select a country, but adding all countries in the world would take ages.

#### About the Feature

Pasting line delimited lists would be a lot better option.

[2017-11-10 10:37] pranavm27 commented on #244
@modiplus91 you also need to make an entry in [form-fields.client.service.js](https://github.com/tellform/tellform/blob/master/public/modules/forms/admin/services/form-fields.client.service.js)

[2017-11-11 10:18] felixcheruiyot opened #259 "Provide Webhook API for external systems integrations and tracking of submissions"
#### Feature Request

Any plans to provide similar webhook service as typeform https://developer.typeform.com/webhooks/ ?

I'd like to forward my submissions to an external system for further processing.

Thanks

[2017-11-12 03:59] whitef0x0 commented on #236
@SaMnCo the compose file is in a separate repo (documentation for it will be added in the 2.20 release) here github.com/tellform/docker_files

[2017-11-12 05:48] whitef0x0 commented on #258
@YellowOnion This has been added to the 2.20 release. You can track the progress of this feature here https://github.com/tellform/tellform/pull/260.

[2017-11-12 05:48] #258 closed

[2017-11-12 05:51] whitef0x0 commented on #259
@felixcheruiyot this is on the roadmap for the 2.3.0 release

[2017-11-12 05:54] #76 closed

[2017-11-12 05:55] whitef0x0 commented on #244
Closing as this is a duplicate of https://github.com/tellform/tellform/issues/106

[2017-11-12 05:55] #244 closed

[2017-11-12 05:56] whitef0x0 commented on #223
Just to update everyone, this is currently added to the 2.20 release that is scheduled to be pushed to production in the next week or two.

[2017-11-12 05:57] #208 closed

[2017-11-12 05:57] #219 closed

[2017-11-14 09:31] MMayla opened #263 "App not running after"
#### What's this issue about?

#### Expected behavior

#### Actual behavior

#### Steps to reproduce

#### Environment

#### About the Feature

[2017-11-14 14:10] MJeorrett commented on #263
I'm getting the same problem.

[2017-11-15 20:01] whitef0x0 commented on #223
@jliliamen @itaditya @marykatefain @alexgleason @dlackty Email notifications are now live at http://admin.tellform.com!

[2017-11-15 20:03] jliliamen commented on #223
@whitef0x0 : you're the man. Thanks!

[2017-11-15 20:06] jliliamen commented on #223
@whitef0x0 : i cannot add variables in self notifications the combobox is empty

[2017-11-15 20:08] whitef0x0 commented on #223
@jliliamen I'm actually going to revert these changes. A few bugs I've missed.

[2017-11-17 05:19] felixcheruiyot commented on #259
Hi @whitef0x0
Can I help in working on this? I somehow need this feature urgently. When ready I can send a pull request for your review.

My plan: To clone what Typeform has and place it next to 2.20 email settings. Do you foresee any design issue with that? If not I can go ahead and get it done.

Thanks.

[2017-11-17 06:15] felixcheruiyot opened #266 "Add logic map that shows/hide question based on a condition"
#### About the Feature

In place of the logic jump, it will be nice to handle conditional display of questions based on previous answers. See the following Typeform screenshot

![](https://d8p41h8u5mnk3.cloudfront.net/uploads/2015/07/05085458/cat-logic-2.png)

See also on showing [only one question on screen](https://www.typeform.com/help/only-one-question-on-screen/)

[2017-11-20 02:24] whitef0x0 opened #267 "Move from Grunt WebPack/Np"
We currently are using Grunt for our build system. However many of the libraries that we rely on are aging and it would seem like a good idea to move to WebPack. This is further compounded by the fact that in the future we want to move to VueJS which uses WebPack by default.

#### What's this issue about?
Moving our build systems from Grunt to WebPack.

[2017-11-21 04:34] whitef0x0 commented on #259
@felixcheruiyot Yea you can totally start working on it! I'm not going to be able to get to this until I finish the 2.20 release which will be a few at least a few weeks.

[2017-11-21 20:21] faoiseamh opened #269 "Example web server down"
Hey guys, this looks like a great project and I wanted to check out the examples but it seems the example.tellform.com server is not responding. I've been getting 504s trying to look at examples. Not critical but I figured I'd give you a heads up.

[2017-11-21 20:31] fbahamonde commented on #269
+1 same problem, also with sign up page

[2017-11-22 03:00] Lionirdeadman opened #273 "[FR] Privacy Policy & TOS"
#### About the Feature

There should be a privacy policy and terms of services.

[2017-11-22 09:48] woutervddn commented on #75
very interested in this as well..

[2017-12-11 13:07] vishalpatelvc commented on #235
agree, its very complicated to install it with even docker.

[2017-12-18 18:32] benjaminr177 commented on #67
is this still relevant and up for grabs?

[2017-12-21 20:12] geirman opened #274 "Feature: Add Picture Choice"
Typeform offers a "Picture Choice" option, which allows you to upload an image and define a label with each multiple-choice option.

![image](https://user-images.githubusercontent.com/1640318/34273176-1d81a13e-e648-11e7-9b9a-fa553e2eb32d.png)

[2017-12-21 20:16] geirman opened #275 "Feature: Add Editable 'Other' Option"
Typeform provides an "Other" option that the user can type into that's pretty cool.

![typeform-other](https://user-images.githubusercontent.com/1640318/34273346-c764d086-e648-11e7-873a-3014be2001f9.gif)

[2017-12-21 20:21] geirman opened #276 "Feature: Add Multi-select"
Allow the user to choose more than one multiple choice option

![multi-select](https://user-images.githubusercontent.com/1640318/34273481-5ca2e91c-e649-11e7-8d2f-bafd1949969d.gif)

[2017-12-22 12:01] dshepherd opened #277 "JS error when running in Docker container"
#### What's this issue about?
When running in the docker container, I get "__ is not a function" error in /opt/tellform/app/views/500.server.view.pug:6

#### Expected behavior
Expected page load

#### Actual behavior
tellform_1  | TypeError: /opt/tellform/app/views/500.server.view.pug:6
tellform_1  |     4|     section.public-form.auth.sigin-view.valign-wrapper
tellform_1  |     5|         div.row

[2017-12-28 17:43] daisydaisy commented on #263
Same issue here

[2017-12-29 14:36] msakiya opened #278 "Heroku - Application error"
After deploy, i got a message "Application error: An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details."

Can u check please?

[2017-12-31 15:01] daisydaisy commented on #278
Having the same problem

[2018-01-03 06:14] piyushbeli commented on #263
Same issue for me too.

[2018-01-05 07:37] afzalsayed96 commented on #132
Calculation of payment based on input fields is what I'm looking for. Is there any chance of this feature being implemented in near future?

[2018-01-05 09:51] galacto commented on #278
2018-01-05T09:49:47.730041+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/" host=apply-form.herokuapp.com request_id=5819cb8c-880b-4846-b6c5-f7965ca106d4 fwd="45.114.195.158" dyno= connect= service= status=503 bytes= protocol=https

[2018-01-08 13:40] igor-krawczuk opened #279 "EAI_AGAIN error when looking up mailserver"
#### What's this issue about?
Trying to set up tellform on my server following the docker guide, complains about not finding .env and then fails to look up the Gmail SMTP with getaddrinfo EAI_AGAIN error.

#### Expected behavior
Typing docker compose up after filling out the .env and having a runing instance

#### Actual behavior

It starts okay, as soon as I try to connect, it throws the EAI_AGAI

[2018-01-10 17:38] Gomes81 commented on #277
I have the same error here, running in docker... Does anyone knows the reason why this happens?

[2018-01-14 06:29] OrkoHunter opened #280 "Wrap the text inside Multiple Choice"
#### What's this issue about?

The text inside a multiple choice options does not wrap and overflows, which looks a little distracting.

#### Expected behavior

The text should either wrap inside the border or the length of the div can be increased to contain the text.

#### Actual behavior

Text overflowed and the number to choose the option was not visible.

#### Steps to reproduce

Create a for

[2018-01-14 19:12] abumalick commented on #278
I think it is a duplicate of https://github.com/tellform/tellform/issues/263

[2018-01-17 12:00] pedrofaria opened #281 "Can't disable MAILER_SMTP_SECURE"
#### What's this issue about?

I want to set nodemailer to not use secure connection, but it's not possible.

process.env.MAILER_SMTP_SECURE || true is always true.

#### Expected behavior

MAILER_SMTP_SECURE=FALSE should be interpreted as FALSE

#### Actual behavior

process.env.MAILER_SMTP_SECURE || true is always true.

[2018-01-19 02:54] whitef0x0 commented on #281
A PR for this would be awesome

[2018-01-20 13:18] Lapotor opened #282 "Tellform open port 443 not 3000 for web"
#### What's this issue about?

I run an nginx server already on this server, but tellform want to open port 443 as well and not 3000.

#### Expected behavior

Don't open an webserver on port 443 or 80, but open one on port 3000

#### Actual behavior

When i start the docker file it say:
[code]
and try to open an web server on 443.
#### Steps to reproduce

1. install nginx with running server on po

[2018-01-20 16:25] tizzle commented on #263
Same problem here.

[2018-02-08 14:20] perdox commented on #263
Same problem here.

This is the relevant part of the log:
`2018-02-08T14:12:12.465638+00:00 heroku[web.1]: Starting process with command `./node_modules/.bin/forever -m 5 server.js`
2018-02-08T14:12:14.021208+00:00 heroku[web.1]: Process exited with status 127
2018-02-08T14:12:14.035901+00:00 heroku[web.1]: State changed from starting to crashed
2018-02-08T14:12:14.037895+00:00 heroku[web.1]: Stat

[2018-02-14 11:29] SarathGP opened #284 "Failed WebSocket connection"
#### What's this issue about?
WebSocket connection to tell from is failed Error during WebSocket handshake: Unexpected response code: 502

![image](https://user-images.githubusercontent.com/33219669/36202075-5a757738-11a8-11e8-9ea5-b7968d8cb2e2.png)

[2018-02-21 13:55] obahareth commented on #263
I'm having the same exact issue as @perdox

[2018-02-24 15:31] ramadanko opened #286 "Bad AngularJS code"
https://github.com/tellform/tellform/blob/66765278d209deedd1f85e76cb9cbe58ca8a7829/public/modules/forms/admin/controllers/admin-form.client.controller.js#L15

This is the most ugly, stupid statement i have seen in my life. May i know the purpose of assigning $rootScope to $scope ?!!!!!!!!! i have discovered it while debugging to set Tab programmatically and i was wondering why the god damn variabl

[2018-02-25 20:33] fromz commented on #266
This would make me jump from trueform in a heart beat. Does any of the maintainers have any intention of implementing this? Would it be particularly difficult to implement? I am in a situation to sponsor this project in a month or so if this is approved by the maintainers

[2018-02-25 22:19] whitef0x0 commented on #266
@fromz I'd be interested in implementing for sponsorship

[2018-02-27 08:42] josephfinlayson commented on #263
You need to install forever as part of the package.json, or edit the Procfile

[2018-02-28 02:11] barnwell commented on #263
@josephfinlayson could you explain more?

[2018-02-28 06:31] piyushbeli commented on #263
I remember I added forever in my package.json but still I could not install
it successfully on Heroku and finally I had to deploy it on AWS.

On Wed, Feb 28, 2018 at 7:41 AM, Jason Barnwell <notifications@github.com>
wrote:

--
Many thanks
Piyush Beli

[2018-02-28 18:10] githubLewis opened #287 "Integrate with Single Sign On"
Is it possible to integrate TellForm with a SSO provider, such as Amazon, Google, Facebook etc? I've spent some time looking at the documentation & playing with the demo site but haven't seen it mentioned anywhere.

All I'd be looking to do is authorise users with a SSO provider and allow them access to Tellform once they have been authenticated.

[2018-02-28 18:21] githubLewis opened #288 "Can Tellform create traditional forms?"
Is it possible to create a "standard" form using Tellform? By "standard" I mean a straight forward top down boring box filling form, where all the questions are available up front on the page;
![image](https://user-images.githubusercontent.com/16629743/36804999-238d4ba8-1cb4-11e8-9744-ef7756450c29.png)

I have looked at the Tellform documentation and played with the demo site but wasn't able to cr

[2018-03-01 00:37] alexgleason opened #289 "502 error on production site"
See: https://www.tellform.com/

[2018-03-07 00:18] xperiencereal commented on #193
today it's also broken down....

[2018-03-07 00:21] xperiencereal opened #295 "tellform 502 bad gateway"
#### What's this issue about?
Bad gateway when accesing Telform

#### Expected behavior
I can access the admin page

#### Actual behavior
Can't access admin page or even the form itself

#### Steps to reproduce
just visit tellform.com and go to sign up

#### Environment
Windows 10 Home

#### About the Feature
PLEASE HELP ME .... Thank you very much

[2018-03-07 09:40] xperiencereal commented on #289
same with me

[2018-03-19 11:38] dttg commented on #289
+1

[2018-03-19 11:38] dttg commented on #295
+1

[2018-03-25 18:28] sidtri commented on #295
+1

[2018-03-25 19:14] HannanAkbar opened #296 "[Question] Run the service in private mode"
Is it possible to run the Tellform in private mode (with no public access).

[2018-03-25 23:34] fedorov opened #297 ""502 Bad Gateway" on tellform.com"
#### What's this issue about?

https://www.tellform.com/ is not functioning correctly.

#### Expected behavior

I did not expect to see "502 Bad Gateway" on the front page of the web site, or in both of the examples available in https://www.tellform.com/examples.

#### Actual behavior

![image](https://user-images.githubusercontent.com/313942/37881266-5874903e-3063-11e8-96d5-80485a2bc6db.png)

###

[2018-03-27 16:28] adrianbj commented on #297
Just a reminder that this is still a problem!!

[2018-03-29 06:48] Antupis commented on #295
+1

[2018-03-29 08:01] ielatif commented on #297
+1 got same error

[2018-03-30 09:33] MartinDelille commented on #297
I tried to deploy the project locally thanks to https://tellform.com/install_docker and I have also a 502 error

[2018-04-02 09:56] msantic commented on #297
+1

[2018-04-03 10:08] MartinDelille commented on #297
I solved my local problem by looking at the logs and fixing my configuration.

[2018-04-06 20:56] lucas-bremond commented on #144
I have the exact same problem.

I'm using the `tellform/app:stable` Docker image,

`.env` set as follows:

[code]

[code]

returns `401`.

Any idea?

[2018-04-08 16:12] engineervix commented on #297
because of this I can't login and access my data :disappointed:

[2018-04-09 09:39] pshah123 opened #298 "Form doesn't show up"
Have everything installed and running, tests passed no problem.

When I "create" a new form, it doesn't get created until i restart the server.

Then, I edit it to add the fields I want. Everything looks good. I click "View Live" and am greeted by a blank page. After adjusting every setting I could, I tried to view the form and was again greeted by a blank page. Upon inspection I found that the pa

[2018-04-09 09:46] pshah123 commented on #298
There's a quick and dirty fix, add:

[code]

to the head of the form pug file under `app/views`.

[2018-04-10 15:25] appijumbo commented on #297
Guys is this project dead? I'm not sure with the 502 showing up?

[2018-04-11 19:39] kamper16 commented on #297
Seriously, I was really excited when I found this, but I can't even seem to preview what a form would look like to propose it to my boss because of the bad gateway thing.

[2018-04-12 15:05] MartinDelille commented on #297
@kamper16 You can deploy it locally or via docker.

[2018-04-12 15:07] MartinDelille commented on #297
@KnockNow @ielatif why do I get down vote on my comment?

I just say that the problem I also had locally is not related to the tellform.com issue... What's wrong?

[2018-04-12 15:17] fedorov commented on #297
@MartinDelille I think you got a down vote because your solution is about fixing a local installation, while the issue reported here is about the main web site for the product. None of us non-owners can apply your solution to check if it will fix the tellform.com web site, so it doesn't really help.

[2018-04-15 11:58] fosils commented on #263
I have posted a $10 bounty for solving this issue here:

Here is a screenshot of the log output on herkou:
https://www.screencast.com/t/X00RS9fg1KEo

I found the heroku button here:
https://tellform.com/install_heroku

[2018-04-18 02:34] Cyclops29 opened #300 "Grunt Help"
npm notice created a lockfile as package-lock.json. You should commit this file.

Getting this while trying to install grunt

[2018-04-18 12:38] rogervila commented on #297
+1

[2018-04-26 10:25] Islast commented on #297
I am also experiencing this problem

[2018-05-02 15:30] gdeliaesgine commented on #297
Same here
I am looking for an alternative to typeform, and this page looked exciting, until I noticed that 502.. it does not talk very well about this product.

[2018-05-02 17:44] fedorov commented on #297
It's kind of strange - there is commit activity on the repo in the last 8 days, but no comment from the developers/maintainers on this issue for over a month. Not sure what to make out of this. :-\

[2018-05-09 09:19] MartinDelille commented on #297
I'm starting my own with a simpler stack (nodejs/typescript/vuejs): https://github.com/martindelille/eleform

[2018-05-11 21:14] thekyriarchy commented on #297
@James9074 @whitef0x0 why the silence?

[2018-05-11 22:19] James9074 commented on #297
@thekyriarchy (and everyone) - sadly I don't own or have access to any of the public site's data. I'm actually not very active on this project (was somehwat volunteered into this role) and probably should find another maintainer to take over.

[2018-05-11 23:59] thekyriarchy commented on #297
Do you know who does have access to maintain that?

On Fri, May 11, 2018 at 6:19 PM James Thomas <notifications@github.com>
wrote:

[2018-05-17 06:13] ajinkyagadewar opened #302 "Grunt Build failing"
#### What's this issue about?
Grunt build is failing.

grunt build
Running "jshint:all" (jshint) task

   public/form_modules/forms/base/config/i18n/swedish.js
      1 |+'use strict';
          ^ Expected an assignment or function call and instead saw an expression.
      3 |+angular.module('view-form').config(['$translateProvider', function ($translateProvider) {
         ^ Confusing plusses.

[2018-05-17 17:45] MartinDelille commented on #297
I'm following this project since weeks without evolution.

@thekyriarchy @James9074 I proposed to start a new project using a simpler stack (nodejs/typescript/vuejs): https://github.com/martindelille/eleform

Are you interested?

[2018-05-18 13:49] beny3 opened #303 "Cant install it"
docker-compose up -d
 ERROR: Couldn't connect to Docker daemon at http+docker://localunixsocket - is it running?

[2018-05-18 13:51] #303 closed

[2018-05-18 21:29] James9074 commented on #297
@MartinDelille I'd certainly be happy to see a survey tool written in something more modern and flexible like Node/Vue or Node/React. Because the project is so new, I'd be hessitant to develop much at this state, but once you've got a basic proof of concept I'd likely be interested in helping bringing it to the finish line.

[2018-07-03 14:09] pshah123 commented on #302
This is really late but this is due to the entire file being diffed for some reason. Remove the "+ " at the beginning of each line (you can do this quickly with a search and replace regex)

[2018-07-04 05:40] ajinkyagadewar commented on #302
Thanks @pshah123 I did that and got it working

[2018-07-04 05:40] #302 closed

[2018-07-26 23:21] tanvibhakta opened #306 "Website has expired certificates"
#### What's this issue about?
The tellform.com website has expired certificates everywhere - at example and admin subdomains.

#### Expected behavior
I was expecting to be able to access all the pages as usual.
#### Actual behavior
I can only access some part of the landing and the demo forms. I keep getting a certificate-expired error. On adding the exception, I encountered a 502-bad gteway error

[2018-07-27 08:33] AhmadShamli opened #307 "Blank page after install on docker"
#### What's this issue about?

Blank page after install on docker

#### Expected behavior

Login page or any page to appear
#### Actual behavior

Blank page

One file cant be loaded due to expired cert:

On browser console:

#### Steps to reproduce

using these command
`$ git clone https://github.com/tellform/docker_files`
`$ cd docker_files`
`$ docker-compose up -d `

Change docker-compose.yml to

[2018-07-27 17:07] nebaon commented on #193
Is there any news here, @whitef0x0 ? Site is down for me too. Hope still project is still alive, has a lot of potential.

[2018-07-31 07:00] facundofarias commented on #306
@nconroy Based on their [website](https://tellform.com/), I would say no.

[2018-08-04 10:14] nautical commented on #105
Am planning to use tellform for couple of projects but this issue is really bugging me .. Anyone already working on this ? I can take this up if no one is ..

[2018-08-09 08:43] justinledelson commented on #306
Anyone know of an alternative?

[2018-08-14 19:11] nicocesar commented on #306
looks like the last payment to DigitalOcean was in September 2017,  https://opencollective.com/tellform#budget   This is sad, because all other alternatives look like SaaS rather than a self-hosted-Free-Sofware-licenced system

[2018-08-15 01:55] nconroy commented on #306
@justinledelson seems to be a living fork over at https://github.com/Crypti-x/tellform

[2018-08-17 05:00] milewski opened #308 "Docker install is not working"
Hi guys, im trying to install this locally just to "try it out" as the online demos are not working currently, however the docker instructions are all messed up:

https://www.tellform.com/install_docker

none of it works the way it written to, getting tons of errors with nginx...

[2018-08-31 20:26] whitef0x0 commented on #300
@Cyclops29 I'll get to this in a week or two

[2018-09-03 23:11] fyudelgado commented on #236
I was trying to run the tellform using docker, I used the configuration .env file that you provide on this thread, but the log file for tellform service is sending this error message:

Your mail configuration is incorrect: Error: Invalid login: 534-5.7.9 Application-specific password required. Learn more at 534 5.7.9  https://support.google.com/mail/?p=InvalidSecondFactor b44-v6sm10826387edd.93 -

[2018-09-15 00:03] clanstyles opened #309 "Feature to personalize the form"
#### About the Feature
TypeForm allows you to reference the values the user input in previous fields to personalize the form[[1](https://www.typeform.com/help/variables/)].

[2018-09-19 19:45] jasan-s commented on #263
this is still a problem

[2018-09-23 13:43] chlarsen opened #310 "Offline Access from Mobile Devices, see: #126"
#### What's this issue about?

An urgent feature request that has been filed before by different people, but that, IMHO, needs some extra advocacy.

#### About the Feature

The above feature is probably the single most important feature request, as it will leverage this beautiful software to environments that do not have continuous and reliable Internet connection. Please, please, please, push thi

[2018-09-28 17:18] whitef0x0 commented on #310
@chlarsen do you have a usecase for this yourself as well? Would love to talk to you abuot it

[2018-10-01 09:52] mojontwins opened #311 "Problem with npm install (i18n-lint)"
#### What's this issue about?

I get an error when executing npm install:
[code]
The log reads as follows:
[code]

#### Expected behavior

npm install completes without errors

#### Actual behavior

Error is shown on console and logged to file and install process ends.

#### Steps to reproduce

[code]

#### Environment

RedHat Enterprise Linux 7, node v6.14.4, npm v6.4.1. bower, grunt, grunt-cli,

[2018-10-02 07:53] #311 closed

[2018-10-02 10:30] chlarsen commented on #310
Greetings from Kenya,
Thank you for your message, and aplogies for my belated reply.
Yes, I have: As I am working extensively in sb-saharan Africa, the majority of situations does not offer reliable internet connectivity, if any at all. Also, bandwidth is costly and limited.
The use case literally abound. All the examples I mentioned in my previous message stem from personal experience, not some t

[2018-10-02 21:52] whitef0x0 commented on #311
@mojontwins did you get it to work?

[2018-10-04 11:57] jcvangent opened #313 "bower install --config.interactive=false fails on Heroku"
Tried deploying to Heroku, but at the end of the build I get the following error:

       (node:383) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
       bower angular-input-stars#master       not-cached https://github.com/tellform/angular-input-stars.git#master
       bower angular-input-stars#master

[2018-10-05 07:33] mojontwins commented on #311
Yes, sorry. As soon as I added the issue, I was told that my company doesn't allow ssh connections outside the network, so that "git remote-ls" failed as it required accessing "git://github.com/..." and not "git://github.com/...". The walkaround was instructing git to replace "git://" by "https://":

[code]

[2018-10-05 19:49] victorbordo commented on #132
This feature would be fantastic!

[2018-10-08 10:45] whitef0x0 commented on #132
Its in the roadmap

[2018-10-08 10:47] whitef0x0 commented on #313
@jcvangent whats the output of running `bower install` on your system?

[2018-10-08 12:05] jcvangent commented on #313
Not running it on a local system, trying to run it straight to Heroku with the "deploy to Heroku" button from the repo website.

[2018-10-08 16:20] spekulatius commented on #132
Awesome :)

On Mon, 8 Oct 2018 at 17:45, Arielle Baldwynn <notifications@github.com>
wrote:

[2018-10-12 12:59] ajeenckya opened #314 "JSEP is not defined"
#### What's this issue about?
While creating the new form, "Create Form" is always disabled. Looking at the inspect it is giving the error "Uncaught ReferenceError: jsep is not defined'

#### Expected behavior

Form should be created seamlessly

#### Actual behavior

While creating the new form, "Create Form" is always disabled. Looking at the inspect it is giving the error "Uncaught ReferenceErro

[2018-10-14 17:35] pitah81 commented on #308
I got the same when trying to install Tellform through docker. Have tried different mail configurations with no difference. Has anyone found a fix for this?

[2018-10-16 21:49] LukasSchulz opened #315 "Not able to delete entries from form"
#### What's this issue about?

I am not able to delete entries at the analyze page of tellform. Furthermore, the stats aren't updated.

#### Expected behavior

Entries get deleted when I click on the button "delete selected".
#### Actual behavior

After reloading the page, the Items that seemed to be deleted reappear.
#### Steps to reproduce

Try to delete entries of a form.
#### Environment

Acco

[2018-10-19 16:55] netzah9 commented on #313
@whitef0x0 same problem here, just cant deploy to heroku due to this error

[2018-10-20 07:36] LoneRifle commented on #315
I'm not sure if the code found at f369a4e would be useful (this is from the FormSG fork), but I can reproduce the problem. Assuming that I can get this to work on my local machine, I'll be happy to put in a PR

[2018-10-20 18:43] instanteach opened #318 "End Page Not Saving Changes, Reverts to Default in Live"
After adding the end page,  all saved changes made to the text and button text don't appear on the live form or after refreshing the create page ( reverts to default "Thank you for filling out the form")

[2018-10-21 09:02] chlarsen commented on #310
Dear Arielle, if you have an e-mail address, I can send you a presentation further outlining the huge range of use cases.
Any thoughts?
Chris

[2018-10-22 13:11] mkody commented on #307
I'm stuck with this problem too. Why do I have to have your Sentry installation set on my self-hosted TellForm?

The CORS doesn't allow me to open the page.
[code]

[2018-10-24 05:42] #315 closed

[2018-10-24 05:43] whitef0x0 commented on #310
@chlarsen my email is [myfirstnameame]@correspond.io

[2018-10-25 01:48] zhangwei8607 opened #319 "Create new form not work"
#### What's this issue about?

Can't create new form，no errors shown in the console, but the create form request form will show pending. After restart by grunt, it will shown in the list, not know why.

#### Expected behavior

Can create form successfully

#### Actual behavior

Can't create form successfully.

#### Steps to reproduce

1. login with admin user
2. Click the button with the big +, in

[2018-10-28 04:32] Akito13 commented on #308
https://github.com/docker/kitematic/issues/4061

[2018-10-29 05:47] Akito13 opened #320 "NPM install produces git permission denied error"
#### What's this issue about?

I want to compile tellform from source.

#### Expected behavior

`npm` installing the dependencies

#### Actual behavior

[code]

[code]

[code]

#### Steps to reproduce

[code]

#### Environment

[code]

[code]
`
Linux hostname 4.14.71-v7+ #1145 SMP Fri Sep 21 15:38:35 BST 2018 armv7l GNU/Linux`

[2018-10-29 22:33] Knight1 commented on #263
The problem is that forever is simply not installed. If I install it with
```npm install forever```
Server is starting.

[2018-10-31 18:20] sebastianxcf commented on #308
Hi, I facing same problem.
Another problem starting nginx docker was the port, so I change 80:80 to 90:80 in docker-compose.yml .
I can start the dockers, but when I navigate to localhost:5000 nothing happens.
Any advice ?
Best Regards

[2018-11-01 17:14] sebastianxcf opened #321 "Cannot create multiplechoices"
#### What's this issue about?

#### Expected behavior

When I create a multiple choice I expect to add more that one options, but the button to add more option does not exit in the panel.

#### Actual behavior

I can only set a title and description, with only one option

#### Steps to reproduce

#### Environment

I'm running the docker-compose
https://github.com/tellform/docker_files/blob/master/

[2018-11-08 10:48] sebastianxcf opened #322 "getting error when signup"
#### What's this issue about?
When I try to signup a new user I'mgetting this error in the console :

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at Object.randomBytes (internal/crypto/random.js:55:11)
    at Object.options.source (/home/scastellanos/tellform-code/tellform/node_modules/email-verification/node_modules/rand-token/index.js:60:25)

node --version
v10.1.0
npm --ve

[2018-11-08 13:01] sebastianxcf commented on #322
Solved,
I had to install node version 8.12 and uṕdate vim package-lock.json
"email-verification": {
      "version": "github:tellform/node-email-verification#8b179f34e0943c389b2058c9ec1e6d2135a72857",
      "requires": {
        "mongoose": "3.8.40",
        "nodemailer": "4.0.1",
        "rand-token": "0.4.0"
      },

Set rand-token to "0.4.0"

[2018-11-08 13:01] #322 closed

[2018-11-10 01:46] LukasMeine commented on #314
Happening to me as well

[2018-11-10 03:34] ajeenckya commented on #314
Actually it requires code change but it JSEP won't impact Tellform working.

[2018-11-10 13:13] LukasMeine opened #323 "Which branch should I use for manual deploy?"
I`m trying to do a manual deploy of tellform but no luck so far. I got everything up and running, but when i try to create a form, the entire page is broken due to a JSEP error. Deployed using the master and the stable2.1 branches. Is there a working branch where this doesnt happen?

![bug](https://user-images.githubusercontent.com/20716798/48301733-9db94100-e4d9-11e8-8461-4ae42bec0437.png)

[2018-11-11 06:09] qzaidi commented on #313
I got an ELIFECYCLE error too, with newer versions of node. Fixed it by manually running

[code]

[2018-11-20 00:30] hickscorp commented on #321
Same here, when creating any field that would take several options, there's in fact no UI to configure it:

![image](https://user-images.githubusercontent.com/822933/48743532-68d88700-ec5b-11e8-95cd-f96f4f9982b5.png)

![image](https://user-images.githubusercontent.com/822933/48743548-742bb280-ec5b-11e8-913c-32e4e39ede9f.png)

[2018-11-20 13:04] hickscorp commented on #321
@sebastianxcf thanks for the tips - what do you mean the latest version of the repo, what branch are you refering to?

[2018-11-20 14:14] sebastianxcf commented on #321
Yes I 'm using the last #master version.
The problem with the multiple choice is only using the docker-componse cause seems that the last image of the docker tellform is not updated.
If you run it without docker, yes first do **npm install** (I have to downgrade node version in order to install everything successfully .
**npm -v**
6.4.1
**node -v**
v8.12.0

The just run node server.js

[2018-11-20 15:35] hickscorp commented on #321
@sebastianxcf Thank you. We were able to rebuild the docker image by creating a new Dockerfile (The provided one is incredibly bloated).

[code]

Simply run `docker build .` from the repo.

*However*: some options don't work (Subdomains etc), and we cannot save the form global config (Title, header, footer). Anyone with similar problems?

[2018-12-06 18:03] thoomasbro commented on #308
Not working for me neither.
development mode seems to work until signup (I get a "502 bad gateway" when trying to log in).
There need some information about how to setup https since it seems to be the default config.

[2018-12-12 04:18] chlarsen commented on #310
Allow me to be confused: Tellform is not ready for self-hosting any more?

[2018-12-13 15:13] jasperieronimo opened #326 "nginx container fails to start"
#### What's this issue about?
Using the master branch and docker. nginx fails and exits. nginx: [emerg] host not found in upstream "tellform" in /etc/nginx/nginx.conf:44

#### Expected behavior
All containers should start.

#### Actual behavior
nginx: [emerg] host not found in upstream "tellform" in /etc/nginx/nginx.conf:44 and exits code 255.

#### Steps to reproduce
docker compose up -d

#### En

[2018-12-17 16:09] tmikaeld opened #327 "Example server SSL certificate has expired."
The certificate has expired.

[2018-12-29 08:16] jvlobo commented on #314
Same problem here... any solution for this?

[2018-12-31 04:46] vivekkrbajpai commented on #314
@ajeenckya Are you able to solve it?

[2018-12-31 06:11] ajeenckya commented on #314
Actually what I figured out was this error doesn’t stop the tell form to
work.

On 31 December 2018 at 10:17:04 AM, vicb (notifications@github.com) wrote:

@ajeenckya <https://github.com/ajeenckya> Are you able to solve it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/tellform/tellform/issues/314#issuecomment-450607936>,

[2019-01-13 16:49] thenitai opened #329 "Obseravtions and installation and other issues"

[2019-01-13 20:53] gtsatsis commented on #327
@busyML, The certificate can be renewed through one command on the backend of the example server.

I suggest tagging the lead Developer of the project. (@whitef0x0 (?)).

[2019-01-14 02:05] busyML commented on #327
Right, thanks a lot @gtsatsis. @whitef0x0 , anything we can do to help with this? The expired SSL means that embedded forms are not loading properly, so it is quite an urgent matter.

[2019-01-15 20:04] christianprim commented on #326
Same here. Nginx starts in development mode, nut not in production.

[2019-01-22 02:35] Luc45 commented on #327
Yep, came here to say I went to see the demos but couldn't because of expired SSL certificate: https://example.tellform.com/#!/forms/598cbfdebc19076a1dc78f23

[2019-01-22 16:20] busyML commented on #327
@Luc45 , yes, I mean you can still access the form, however most browsers will just try to stop you because they think the website isn´t safe, however it is, if you click through the security warnings, you´ll get to the demo

[2019-01-22 16:53] busyML commented on #327
@Luc45 Yes, agree, the problem is affecting all forms and it makes any created forms usuable on the front-end. I had to switch to **Typeform** for my website, whose free version is more limited than tellform, unfortunately. However it doesn´t seem like we can do much until they renew the certificate on the tellform back end.

[2019-01-24 16:04] in-ten-to commented on #326
+1

[2019-01-28 22:48] agahkarakuzu commented on #326
+1 :(

[2019-02-09 06:54] whitef0x0 opened #331 "Looking for maintainers"
I'm still getting a lot of requests and have not been able to fulfill them or work on TellForm due to other commitments.

Currently looking for maintainers to take over this project.

[2019-02-09 08:55] lalop commented on #331
hello @whitef0x0 I'm afraid I do not have enough free time to maintain tellform.
I hope that you will find someone

[2019-02-09 20:22] Leopere commented on #331
I only want to get the Docker stuff working but I could help to some degree.  Mainly I'd love to have a direct line to people to help just get it possible to be usable for people so that it doesn't die before people can start using it.

[2019-02-09 21:46] thenitai commented on #331
Are you just looking for code maintainers or someone to take over the whole project?

[2019-02-13 00:46] whitef0x0 commented on #331
@thenitai Ideally someone to take over the project. But code maintainers would help as well.

[2019-02-13 19:29] FMGordillo commented on #326
+1

[2019-02-17 15:33] Ryonez commented on #327
Actually as @Luc45 mentioned Chrome will straight up just block you.

![image](https://user-images.githubusercontent.com/16157130/52915200-d452f300-3335-11e9-9ff1-70d8c634445c.png)

@James9074 @whitef0x0 One of you guys should really get this sorted, it's such a simple fix, and the process to renew letencrypt certs can even be automated. Not taking into consideration this is what new people see wh

[2019-02-18 01:04] instanteach commented on #327
@Ryonez Couldn't agree more with you, however none of the backend devs have been answering us

[2019-02-19 18:33] whitef0x0 commented on #327
Hey all! I'll get this sorted this week

[2019-02-19 19:38] A1CY0N opened #332 "Possible to retrieve the answers with an API?"
I would like to use tellform to comfortably enter data into an application.

Is there an API to retrieve the responses from the forms? Here (https://api.tellform.com) you can retrieve the list of forms and create some but I haven't found how to retrieve the answers.
Does anyone have the information, please?

In any case tellform is a great project for anyone who has to use LimeSurvey 🤣

[2019-02-19 21:31] busyML commented on #327
@whitef0x0 , thank you !

[2019-02-23 05:27] gnowland commented on #327
Is this project even still in active development, if the SSL certificate has been expired for 3 months and it takes 1 CLI command to renew? 🤯

Hell, you can even make a cron job to renew it automatically :
[code]
* Don't forget to add a cron job to automatically restart your server (apache, nginx, etc) after the certificate has been renewed or it will not be loaded

[2019-02-25 12:07] kominoshja commented on #282
Hi, did you manage to solve this?

[2019-03-03 09:44] tobya commented on #327
If it is possible for you to run [CaddyServer](https://github.com/mholt/caddy), it will renew LetsEncrypt certs for you automagically.  You can use it as a forward proxy and dont need to change your setup.

[2019-03-12 10:52] dromer commented on #327
Even the contact-form uses the example domain. This is quite annoying.
How am I supposed to convince my colleagues that we should try this software if I can't show any examples? ;)

[2019-03-12 23:47] almereyda opened #333 "Support for STARTTLS"
#### What's this issue about?

#### Expected behavior

I'm filling working mail credentials to `.env` in https://github.com/tellform/docker_files for https://nodemailer.com/smtp/ and messaging works.

#### Actual behavior

The system reports

    Your mail configuration is incorrect: Error: 139863937574720:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/

[2019-03-20 08:52] moeffju commented on #331
@whitef0x0 Is there some way to get the project and the .com into some form of shared control? It might be hard to find someone who has a need for this project _and_ the time to maintain it, and sharing the burden might make it easier. Also things like the TLS cert being expired for months make it hard to “sell” the project…

[2019-03-20 09:10] elioqoshi commented on #331
On a related note, is there any way we can support the project/maintainers financially?

[2019-03-20 12:19] Leopere commented on #331
I'm actively looking for someone to look into at least making this functional and to bring up a demo instance again at the very least.

[2019-04-01 14:55] kolaente commented on #327
Any updates on this?

[2019-04-03 21:47] ASalimov commented on #263
I'm having the same issue

[2019-04-15 10:38] y0va commented on #331
Is there any other instance running somewhere, to see it live?

[2019-04-15 12:43] James9074 commented on #331
I hate to say it, but I'm in the same boat... I can look into getting it fixed up but honestly I'd probably need to rewrite it in node to support it on the daily.

[2019-04-15 14:23] Leopere commented on #331
@James9074 have you managed to get it running?  I'd love to hear your experiences and pain points so that we could potentially update and just get the Docker stuff running.  Even if it's a YMMV instance it's at least a potential way to inspire other potential contributors.

[2019-04-19 11:07] rohitnehra commented on #263
I also have same issue, Anyone can help

[2019-04-30 02:18] whitef0x0 commented on #331
@Leopere I fixed the docker install. You can see the new instructions on this repo's README under the docker deployment section.

[2019-04-30 02:18] whitef0x0 commented on #329
@thenitai hey nitai sorry about this. It has been abandoned for a bit but my employer has sponsored me so I'll have 20h a month to work on this and get it up to scratch in the next few months.

[2019-04-30 02:20] whitef0x0 commented on #327
@kolaente @dromer certs have been updated and moved to letsencrypt. I'll be getting the example server up by end of today. Sorry about the lack of communication, been busy with the last year of school!

[2019-04-30 02:20] #327 closed

[2019-04-30 06:23] Leopere commented on #331
@whitef0x0 you are a star! <3 I can't wait for some degree of free time now to test and play!

[2019-04-30 06:33] Leopere commented on #331
@whitef0x0 I don't have enough perms for the rest of the project unless you've pulled them for now. Now that there's a baseline for what to expect via the Docker stuff I can help out a lot more.  I've gotten the containers mostly spun up in my dev env but am blocked by the fact that I should be asleep and am in need of setting up a test user on my mail server.  I'll do this in the morning during a

[2019-05-15 04:39] whitef0x0 commented on #331
@Leopere I just gave you admin access to the org. Do you have namecheap? I can share admin functionality with you. Or through cloudflare

[2019-05-15 14:16] Leopere commented on #331
@whitef0x0 contact me out of band via github-temporary@nixc.us, and I'll reply via my proper email.  I love that you use Namecheap they're great. I appreciate their company far more than the competition.

I have a Cloudflare account but I try to avoid using middlemen organizations who are a great target for government bullying. I still don't know how much I can do here as I'm not a full stack dev

[2019-05-30 05:13] kkirank opened #337 "[Feature Request] Provide the ability to create a question bank for quiz applications."
#### What's this issue about?

Provide ability to create a question bank for quiz applications, and serve a set of questions randomly.

#### About the Feature

I run an annual quiz which has 1000s of students participating online at the same time. They have to answer 20 questions. It would make the quiz that much harder if all of them see a different set of 20 questions. So, if Tellform could allo

[2019-06-07 22:19] lexoyo commented on #332
Hi
I think I found the answer in the code: https://github.com/tellform/tellform/blob/master/app/routes/forms.server.routes.js#L46

[2019-06-08 22:30] newgrounds commented on #326
I'm not sure if it's the same problem for you, but I got this to work by changing the port from 5000 to 5333:
PORT=5333

I think something else was already bound to that port.

[2019-06-08 22:58] Leopere commented on #326
@newgrounds if you file a PR when you get it working it'll be greatly appreciated.

[2019-06-12 22:53] Leopere commented on #326
@newgrounds do you think you can repeat what you did explicitly into a README format and file a PR
Seems that the documentation and containers need really desperately to be cleaned up but I can't even get a copy of this running before I can even really present it to other devs for updating because of there being a number of vulnerabilities that need to be tended to.

[2019-06-12 23:26] Leopere commented on #326
Nope still can't replicate any form of success getting this running.

[2019-06-12 23:37] newgrounds commented on #326
I think I celebrated prematurely. It throws this error intermittently regardless of what I do to the ports, and the tellform VM will not come up and stay up. I may take another crack at this next weekend, but I am considering just looking for an alternative solution at this point.

[2019-06-12 23:39] Leopere commented on #326
@newgrounds I recommend doing that I think this project is a lost cause the original developer really didn't seem interested in making this work before abandoning it.

[2019-06-12 23:40] Leopere commented on #326
In fact let me know when/if you find something because I really liked the idea of this but i dont have time to glue something this broken back together.

[2019-06-25 09:34] port22 opened #342 "docker tellform not starting due to Mail configuration sl"
### What's this issue about?

Tellform complains about SSL problems, despite having `MAILER_SMTP_SECURE` disabled.

[code]

[code]

I just wanted to test the software, I don't care about mailing atm. How to make the app just work?

[2019-06-25 18:41] Leopere commented on #342
Currently, the app is not recommended for production use.

On Tue, Jun 25, 2019 at 5:34 AM port22 <notifications@github.com> wrote:

[2019-06-30 18:10] lewisgoddard opened #343 ""Take a photo" field option"
Jotform has a ["Take a photo" widget](https://widgets.jotform.com/widget/take_photo) which I assume is some fancy webcam API interaction linked to a file upload.  This is what is blocking me from moving to tellform.

[2019-07-01 02:48] lewisgoddard commented on #343
`<input type="file" accept="image/*;capture=camera">`

[2019-07-01 08:56] wodka commented on #314
Problem is happening because builds after 0.3.1 of jsep do not include the dist folder -> locking the dependency resolves the issue (fixed in PR https://github.com/tellform/tellform/pull/344 together with other docker issues)

[2019-07-01 09:00] wodka commented on #323
the jsep error can be fixed by locking the dependency to 0.3.1 instead of ^0.3.1.

[2019-07-01 11:08] wodka commented on #284
the websocket needs to connect to your websocket endpoint (right now this has to be a separate subdomain)

[2019-07-01 13:40] wodka commented on #332
In addition to the route you can also request an api key:

`GET https://YOUR_TELLFORM/auth/genkey` (it will generate a new key every time)

then you can request any url and have it authenticated as your user like:

`GET https://YOUR_TELLFORM/forms/FORM_ID/submissions?apikey=API_KEY`

[2019-07-03 00:12] Leopere commented on #332
@lexoyo would you be willing to potentially offer a PR with some documentation on said routes?

[2019-07-03 12:44] BurneyFM opened #345 "Examples pages and contact form refuse connection"
Currently, the examples pages and the contact form at https://www.tellform.com/ refuse connections.

[2019-07-03 13:45] Leopere commented on #345
This has been reported numerous times, unfortunately, we're awaiting some other things before this can come back I wouldn't recommend using this in production until we've updated some of the libraries and got the demo back online.  Watch out for updates via /r/SelfHosted etc.

[2019-07-03 13:45] #345 closed

[2019-07-03 16:26] lexoyo commented on #332
Hi
I'm sorry I don't even remember what I did here on this project
I believe it is not usable as is and needs a refactoring (90% of it is good, but it needs a few weeks of work to be good to go)
I have my own projects to maintain, I am sorry :(

[2019-07-03 20:44] Leopere commented on #342
closed by #344

[2019-07-03 20:44] #342 closed

[2019-07-04 03:01] Leopere commented on #332
As of #344, the docker-compose is functional again however we're going to likely submit a new PR with documentation tweaks to ensure that it can work out of the box.  However, I'm not certain it's recommendable to use the app as there's a pile of security vulnerabilities in its libraries at the moment.

[2019-07-04 03:02] Leopere commented on #333
As of #344 it might function by default with the docker-compose.yml included within the repo however it is not accurately documented officially yet so YMMV and you're on your own technically at the moment.

[2019-07-15 12:28] itsramaadi opened #348 "admin.tellform.com refused to connect."
#### What's this issue about?

`This site can't be reached` with `admin.tellform.com` refusing to connect

#### Expected behavior

A signup page on https://admin.tellform.com/#!/signup

#### Actual behavior

`This site can’t be reached`
`admin.tellform.com refused to connect.`

#### Steps to reproduce

Just visit the page

#### Environment

None

[2019-07-15 20:46] Leopere commented on #348
Try the continuation on https://OhMyForm.com

On Mon, Jul 15, 2019 at 8:28 AM Rama Adi Nugraha <notifications@github.com>
wrote:

[2019-08-14 14:52] heyakyra commented on #132
It would nice to be payment processor agnostic, so Square, Coinbase, Circle, Zeux, etc would all be possible